[2016-03-21 08:49] garak opened #7 "Problem with unique validator"
Not sure if this is a real issue, or it's just me not understanding correctly.
I'm testing that a UniqueEntity constraint is correctly applied (on a "create" form for FosUserBundle I'm testing that I cannot create an user with the same email as an existing user).
With this bundle enabled, it looks like constraint is not triggered, resulting in an Exception at database level.
If if set `enable_stat

[2016-03-21 09:01] dmaicher commented on #7
Thx for the report. Hmm that sounds weird indeed.

When do you create the fixtures? Once before the whole testsuite runs?

Can I see the test that fails?

[2016-03-21 09:06] garak commented on #7
I load fixtures once, before running test suite.
Here is the test:
[code]

[2016-03-21 09:33] garak commented on #7
OK.
Sorry, it's my fault. Indeed, there is no UniqurEntity constraint involved, since I'm using a DTO and validating on that instead of FosUSer entity.
I'm closing this.

[2016-03-21 09:33] #7 closed

[2016-03-21 09:36] garak opened #8 "Catching exception is not working"
There is my scenario: using a DTO for a FosUserBundle user entity, I'm skipping unique validation and catching a `Doctrine\DBAL\Exception\UniqueConstraintViolationException`.
In testing, this is failing, e.g. the exception is not caught.
If I try switching to a more general `Doctrine\DBAL\DBALException`, it looks like the exception is caught, anyway as soon as  a query is performed I'm getting thi

[2016-03-21 09:41] dmaicher commented on #8
Interesting. The only place where I catch an exception is this:

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/StaticDriver.php#L95

But that should not make any difference I think. Can you try commenting that out?

[2016-03-21 10:40] garak commented on #8
No luck. Same exception.

[2016-03-21 10:43] dmaicher commented on #8
Ok I will try to reproduce this tonight ;)

What would be interesting to know: How is the performance boost due to the `StaticArrayCache` for your testsuite? So if you just disable the static connection?

[2016-03-21 10:45] garak commented on #8
As I told in #7, if I disable static connection it looks like no rollback is performed, so tests are failing.
Anyway, with everything active (and with unique check tests marked incomplete) my test suite halved time

[2016-03-21 10:46] dmaicher commented on #8
Ok that's nice :) Thx for the info.

Will get back to you later regarding the `UniqueConstraintViolationException` issue.

[2016-03-21 18:59] dmaicher commented on #8
Ok I can reproduce the problem with Mysql. You are using PostgreSQL?

Trying to figure out why this is happening.

[2016-03-21 19:15] dmaicher commented on #8
Ok I found the issue for the missing exception of type `UniqueConstraintViolationException`.

Can you check how it goes with this? https://github.com/dmaicher/doctrine-test-bundle/pull/9

[2016-03-22 10:44] garak commented on #8
Sorry, I forgot to mention that I'm using Postgres.
I'll try the code and I'll let you know. Thanks!

[2016-03-22 16:32] dmaicher commented on #8
And any luck? :)

The `7 ERROR: current transaction is aborted, commands ignored until end of transaction block` has to be solved with a rollback then I guess if it still happens. In that regard Postgres behaves a bit different than Mysql.

[2016-03-22 16:55] garak commented on #8
Sorry for the late reply, I had to revert my project to an old commit (since now I got rid of the ugly Exception catching and I'm using a "real" validation).
I tried with the new code and it looks like it's working. Thank you!

[2016-03-22 16:55] #8 closed

[2016-03-22 16:58] dmaicher commented on #8
:+1:

[2016-03-22 16:59] garak opened #11 "Minor annoyances"
My scenario (I think it's a pretty common one): I'm using a separate database for tests , e.g. `mydb` and `mydb_test`.
When the bundle is enabled, I'm not able to re-create the test database anymore (after dropping it, of course).
The error is `SQLSTATE[42000] [1049] Unknown database 'mydb_test'`
I'm forced to temporary comment out the bundle fro AppKernel.
The same applies for fixtures loading: w

[2016-03-22 17:02] dmaicher commented on #11
I'm using the same approach so I'm not quite sure why this is happening for you.

Where/how do you create the database and load the fixtures? In the PHPUnit bootstrap? Before?

[2016-03-22 17:04] garak commented on #11
I do everything with console commands.
So, db creation is done via `bin/console do:da:cr -e=test` and fixtures loading via `bin/console do:fi:lo -e=test -n`

[2016-03-22 17:08] dmaicher commented on #11
Will try to reproduce this ;)

[2016-03-22 17:09] dmaicher commented on #11
I'm basically executing the symfony commands from within my PHPUnit bootstrap so they all run inside the same php process.

[2016-03-22 17:16] garak commented on #11
Can you provide an example?

[2016-03-22 17:23] dmaicher commented on #11
I basically use a custom php bootstrap for phpunit:

[code]

And in that file I boot up a Symfony Kernel and just execute some commands:

[code]

[2016-03-22 17:24] dmaicher commented on #11
But anyway I have the same issue when my test database initially does not exist ;)
So I can reproduce the problem and I think I know the cause. Will let you know later.

[2016-03-22 17:27] garak commented on #11
You're awesome!

[2016-03-22 19:18] dmaicher commented on #11
Fix is in master branch. Can you give it a try? For me it solves the issue :smile:

[2016-03-23 08:27] garak commented on #11
Excellent! Thank you

[2016-03-23 08:27] #11 closed

[2016-04-12 09:08] garak opened #14 "Allow phpunit 5?"
Hi, since I (finally) moved to php7, I'd like to give a try to the new phpunit.
Currently, I can't upgrade to phpunit `^5.3` because this bundle is requiring phpunit `~4.1`
Do you think that relaxing phpunit requirement to `~4-1|~5.0` would be possible?

[2016-04-12 09:26] dmaicher commented on #14
Can you try with a fork if it works with the listener? I'm not familiar with the changes in phpunit 5.

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitStaticDbConnectionListener.php

If yes then I would be happy to allow phpunit 5 :)

[2016-04-12 11:27] garak commented on #14
I just tried with success in a project of mine.
Also, it looks like the 5 branch of phpunit just removed a few deprecated (and raised requirements). See https://github.com/sebastianbergmann/phpunit/wiki/Release-Announcement-for-PHPUnit-5.0.0

[2016-04-12 11:58] dmaicher commented on #14
Ok nice. Can you open a PR then? :+1:

[2016-04-12 12:30] garak commented on #14
Done.

[2016-04-12 12:30] #14 closed

[2016-07-25 09:31] garak opened #16 "Auto-register listener?"
I'm not really an expert of PHPUnit, but I see that [Symfony's bridge](https://github.com/symfony/phpunit-bridge) is able to auto-register its listener.
Maybe the same could be done here? Saving the user from manually editing their own PHPUnit config file.

[2016-07-25 18:02] dmaicher commented on #16
Yes nice idea :wink:

I checked a bit and for me the `SymfonyTestListener` (https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/PhpUnit/SymfonyTestsListener.php) is not automatically registered. Its never instantiated/called for my TestSuite.

In the docs it says "... it automatically registers a PHPUnit event listener ..." (https://symfony.com/doc/current/components/phpunit_bridge.h

[2016-07-25 20:03] nicolas-grekas commented on #16
The trick in Symfony is to use our own phpunit bootstrapper, see https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/PhpUnit/TextUI/TestRunner.php
There is no other I'm aware of, and I don't think you should take this way either...

[2016-07-25 20:13] dmaicher commented on #16
Thanks for the fast reply @nicolas-grekas! But then the listener is not automatically registered for user symfony applications by simply requiring the bridge via composer, right?

[2016-08-10 16:40] #16 closed

[2016-11-19 13:05] garak opened #17 "Allow PHPUnit 6?"
PHPUnit 6.0 will be out in less than 2 months (see [milestones](https://github.com/sebastianbergmann/phpunit/milestones)), but this bundle is still not allowing it.
Is there anything specific change in PHPUnit 6.0 that is preventing raising requirements to `"~4.1|~5.0|~6.0"`?
I took a rapid look to [changelog](https://github.com/sebastianbergmann/phpunit/blob/master/ChangeLog-6.0.md) and there don

[2016-11-19 13:37] dmaicher commented on #17
Good point :+1:  Have not tested it with version 6.0 yet but looking at the changelog it should work indeed :blush:

Do you have any project you could test it on?

[2016-11-19 15:20] garak commented on #17
I do. I propose to allow PHPUnit 6 in master, then if OK you could release a new tag.
Another acceptable option would be to keep it in master only, until PHPUnit 6 stable will be out.

[2016-11-19 17:17] dmaicher commented on #17
Agreed :wink: It's on master now. Let me know if everything works as it should :blush:
I use this bundle currently on PHP 5.6 projects only so I cannot test it properly :stuck_out_tongue_closed_eyes:

[2016-11-19 17:18] #17 closed

[2016-11-19 20:10] garak commented on #17
Just tried, it's fine :+1:

[2016-11-20 09:04] dmaicher commented on #17
Perfect :+1: Then I can create a new release already :blush:

[2017-06-13 10:20] Rewieer opened #29 "[Suggestion]Reset auto-increment"
I'm not a connaisseur of Doctrine, but I've seen that rolling back doesn't reinitialize the auto-increment fields. So every test just increases the ID until it boom.
Maybe there's a way to scan the tables with auto-increment fields and reinitialize them ?

[2017-06-13 16:34] dmaicher commented on #29
Indeed currently the auto-increment ID's will keep increasing with every test that does insertions.

But this should not be a problem as the schema will most likely be rebuild before running the test-suite anyway :wink:

So what exactly do you mean with `... until it boom.`?

Seems quite tricky and error prone to do this automatically to be honest.

[2017-06-14 06:49] Rewieer commented on #29
I'm kind of convinced by the fact that the database should be rebuilt before launching the test so, I guess i'm ok with it.
Until it boom, it's kind of abusive i know.. i'm talking about the moment when the ID will increase to it's limit. Not happening quite often :D

[2017-06-14 06:49] #29 closed

[2017-07-13 19:31] dmaicher opened #30 "decorate original connection factory instead of just replacing it"
Recently when trying the bundle together with https://github.com/liuggio/fastest (which also registers its own connection factory class) we found some issues as we just replace the factory with `StaticConnectionFactory` instead of decorating the original factory. So it effectively breaks all usages of a custom connection factory.

[2017-07-25 08:23] bocharsky-bw opened #31 "Conflict with Symfony PHPUnit Bridge"
Currently, this bundle has a conflict with Symfony PHPUnit Bridge one which provides `./vendor/bin/simple-phpunit` script, see https://github.com/symfony/symfony/issues/23598

The only solution I see is to move `phpunit/phpunit` dependency to `require-dev` section and add one more step to the installation to ask devs manually install PHPUnit.

[2017-07-25 09:07] dmaicher commented on #31
Thanks for the report :wink: This is indeed a problem :cry: I will look into it later today.

[2017-07-25 09:58] bocharsky-bw commented on #31
Thanks for the quick reply! I'd really love to see a better solution for this case :/

[2017-07-25 16:58] dmaicher commented on #31
@bocharsky-bw can you confirm that it works for you when doing this?

1. require dev branch: `"dama/doctrine-test-bundle": "dev-phpunit-dev as 1.1",`
2. change phpunit listener to: `<listener class="\DAMA\DoctrineTestBundle\PHPUnit\LegacyPHPUnitListener" />`

[2017-07-25 18:54] bocharsky-bw commented on #31
Hm, does not work, still have:

Actually, I test it on Symfony Demo project.

[2017-07-25 18:55] dmaicher commented on #31
Did you also run `composer update` to remove the root `phpunit/phpunit` dependency?

[2017-07-25 18:58] bocharsky-bw commented on #31
Oops, forgot! Yea, the problem is gone 👍

[2017-07-25 19:00] dmaicher commented on #31
Cool :+1:

Ok then I will prepare a new release `3.0.0` which can be used for phpunit <6 and 6+ then :blush: Actually simplifies things and no need to maintain two versions `1.x` and `2.x` anymore.

[2017-07-25 19:01] bocharsky-bw commented on #31
Thanks for the quick fix, David!

[2017-07-25 19:17] dmaicher commented on #31
You can require `^3.0` now and use the new release :+1:

Thanks again for reporting the problem.

[2017-07-25 19:17] #31 closed

[2017-08-15 11:57] #30 closed

[2017-10-12 18:41] Soullivaneuh opened #41 "Not compatible with PHPUnit v6"
Because of the namespace changes:

[code]

[2017-10-12 18:42] Soullivaneuh commented on #41
Well, next time I'll read the README.

Sorry for that.

[2017-10-12 18:42] #41 closed

[2017-10-12 18:43] dmaicher commented on #41
No problem :wink:

Soon 4.0.0 will be released and then those problems are gone as the same listener can be used for both PHPUnit 5 and 6+

[2017-10-23 22:07] Soullivaneuh commented on #41
Great!

Thanks for your bundle BTW, it help a lot! I may write a blog post about it when I'll have time. :wink:

[2017-10-23 22:11] Soullivaneuh opened #45 "Auto-Increment option"
It was already asked on #29 but closed by the author.

I think it might be very interesting to propose it as an option, if this is technically possible.

Assert can not currently be done on IDs.

Test case example:

[code]

Regards.

[2017-10-24 06:50] dmaicher commented on #41
Thanks. Great to hear that :+1:

[2017-10-24 06:55] dmaicher commented on #45
If I understand the test correctly: Can you not do this?

[code]

I mean its hardly required to rely on hardcoded auto generated ID's in tests I believe.

[2017-10-24 13:18] Soullivaneuh commented on #45
I can do this, indeed. :-)

But still, the option can be interesting if it's technically possible without pain. :wink:

[2017-10-24 13:21] Soullivaneuh opened #46 "Server has gone away on rollback"
Some time, but not all time, I get this error:

[code]

So I can't tell you where is the issue, but I have this since this test adding:

[code]

Basically, those controllers are just parsing data and saving simple entities.

Any idea of why?

Maybe it's not related directly to this bundle, but it's falling only at rollback.

[2017-10-24 13:26] dmaicher commented on #46
Hmm this seems weird. Are you manually closing the connection somewhere?

Can you check within `StaticDriver::rollBack()` the status of the connection when this happens?

[2017-10-24 13:45] Soullivaneuh commented on #46
No, AFAIK. Which code part should I search for?

Could you pleas elaborate? Which test code would you like me to insert?

[2017-10-24 13:50] Soullivaneuh commented on #46
It's very weird, I run the same phpunit command twice, one worked, the another didn't:

[code]

Maybe related to a MySQL timeout?

[2017-10-24 13:51] dmaicher commented on #46
Yes indeed can be a timeout: https://dev.mysql.com/doc/refman/5.7/en/gone-away.html

[2017-10-24 13:52] dmaicher commented on #46
Maybe with `dump($con)` we can see something but not sure :/ A bit tricky to debug

[2017-10-24 14:03] Soullivaneuh commented on #46
I tried:

[code]

But nothing shown when the error occurs.

I'll try to increase the timeout.

[2017-10-24 14:18] Soullivaneuh commented on #46
[code]

This is indeed may be a little short for test env.

[2017-10-24 14:20] dmaicher commented on #46
here my values for my local docker mysql instance:

[code]

[2017-10-24 14:25] Soullivaneuh commented on #46
Well, you have the same values. :-|

I'm trying with this:

[code]

Will tell if it works after many test launches...

[2017-10-24 14:25] dmaicher commented on #46
Does this show anything?

[code]

[2017-10-24 15:22] Soullivaneuh commented on #46
I tried:

[code]

But I have nothing more except the error.

This is quite frustrating to not know which timeout parameter I have to change... if I have to change one of them.

I still have some Mysql crash with my new config, but "seems" to happen less regularly.

[2017-10-24 16:28] dmaicher commented on #46
Does it always crash at the same test? Is it a test that takes really long?

[2017-10-24 17:30] Soullivaneuh commented on #46
Well, I'm now on a more powerful computer and I can't reproduce the issue. :trollface:

So I'm pretty sure it's related to timeout, but which one?

I'll try by setting a ridiculous low value per timeout option to try to reproduce the issue.

[2017-10-24 17:39] Soullivaneuh commented on #46
Well... I tried with this:

[code]

And... it's still working. :-S

I definitely have to try again on the other computer, this is more weird than I was thinking.

[2017-10-25 08:18] Jean85 commented on #46
We use this (in production too) to solve the "gone away" issue: https://github.com/facile-it/doctrine-mysql-come-back

[2017-10-25 08:31] Soullivaneuh commented on #46
@Jean85 well, looking at the code part: https://github.com/facile-it/doctrine-mysql-come-back/blob/3875115784de4556b3c622cdcec74ac74df3a0a3/src/Driver/ServerGoneAwayExceptionsAwareTrait.php#L26-L55

It's looks more like a "Shhht, this never happened!" workaround than a fix. Am I right? :smile:

It would be better to find where the issue.

[2017-10-25 08:42] dmaicher commented on #46
I think this must be some configuration issue or a bug. I mean I never ever had this issue. Not in production and not locally.

Which mysql version and php version are you using?

[code]

[2017-10-25 08:47] Jean85 commented on #46
Well, in our case we have a few routes that take a long time, so we cannot relax the timeout just for those; so that's a feasible solution for us.

In this case, since it's in a test env, it shouldn't take this long so yeah, maybe you should find the root cause first.

[2017-10-25 10:29] Soullivaneuh commented on #46
I agree. And seems to be related according to the computer power.

My `php -i` result:

[code]

And I use MySQL 5.7 latest Docker image.

[2017-10-25 10:34] Soullivaneuh commented on #46
I tried with:

[code]

MySQL result:

[code]

And the test suite... passed! I'm going to be crazy! :sweat_smile:

So... not related to timeout?

[2017-10-25 15:27] dmaicher commented on #46
yeah sorry no idea :cry: Closing this issue as its not related to this bundle

[2017-10-25 15:27] #46 closed

[2017-10-25 22:28] Soullivaneuh commented on #46
I understand the close statement.

If I get a solution, I'll paste it here.

[2017-11-09 15:07] ThePixelDeveloper opened #47 "Benchmarks"
I've tried this bundle on a project of mine and haven't seen much of a performance increase over using the ORMPurger and loading fixtures with Doctrine for each test case. Is there a benchmark where I can see a before and after for this bundle?

It doesn't bother me too much as the bundle has other advantages, but I wonder if I'm missing out on a speed increase to something I'm not doing correctly

[2017-11-09 21:23] dmaicher commented on #47
I unfortunately don't have any benchmarks anymore for the transactional feature vs purging and re-inserting fixtures. I just remember that for me this way was quite a bit more performant.

The biggest performance impact achieves this bundle through optimized doctrine caches.

On my biggest symfony testsuite (with tons of functional tests):

`kernel.debug=true`:

No caching features of this bundle

[2017-11-23 13:40] aaa2000 commented on #45
With postgresql and sequence strategy, this code in a custom `WebTestCase` seems to work

[code]

[2017-11-24 11:57] ThePixelDeveloper commented on #47
@dmaicher I had another look at our workflow and noticed we were missing something ...

[code]

vs

[code]

made a significant difference the duration of the test suite. It might be worth mentioning in the README.

[2017-11-28 12:22] dkarlovi opened #48 "Behat support"
Adding Behat support shouldn't be too difficult as [it has same kind of listener support](http://behat.org/en/latest/user_guide/context/hooks.html) as PHPUnit does.

[2017-11-28 13:00] dmaicher commented on #48
Should be doable indeed :+1:

But only for some drivers like goutte that do not actually use any real webserver within a separate php process (like selenium).

[2017-11-28 13:07] dkarlovi commented on #48
Maybe supporting official [Symfony2Extension](https://github.com/Behat/Symfony2Extension) would work?

[2017-11-28 13:08] dmaicher commented on #48
yes indeed with that `symfony2` driver it might work :blush:

[2017-11-30 20:39] dmaicher commented on #47
Yes good idea :+1: Maybe will add some info on how to run the tests even faster in the readme

[2017-11-30 20:39] #47 closed

[2017-12-03 14:22] dmaicher commented on #48
@dkarlovi I tried it and it works nicely :smile:

https://github.com/dmaicher/symfony-flex-behat-test

Are you also using behat with the `symfony2` driver? Maybe you can also give it a try.

I will soon add this trait to my bundle

https://github.com/dmaicher/symfony-flex-behat-test/blob/master/features/bootstrap/TransactionalDatabaseTrait.php

So all you have to do is use it like this: https://gi

[2017-12-05 14:50] dkarlovi commented on #48
@dmaicher I'll try it out now.

[2017-12-06 09:31] dkarlovi commented on #48
@dmaicher I have a weird problem which you might know a cure to: with your proposed solution, it seems the first time `StaticDriver::beginTransaction()` is called, there's no static connections yet and the call goes nowhere (so, no transaction is started).

I've done [this](https://gist.github.com/dkarlovi/04c322789685cc5291a7537d50f426b2) and get this output:

[code]

This means my `createUser()`

[2017-12-06 09:50] dmaicher commented on #48
This is my output for the repository I posted above:

[code]

In the controller after the flush I just added:

[code]
Its actually ok if the very first call to `StaticDriver::beginTransaction()` does not do anything as whenever a new connection is created (and `keepStatic=true) it will immediately have a transaction started already: https://gist.github.com/dkarlovi/04c322789685cc5291a7537d50f426b2

[2017-12-06 10:02] dkarlovi commented on #48
Added

[code]

to `Doctrine\DBAL\Connection::beginTransaction()`

Output:

[code]

[2017-12-06 10:03] dmaicher commented on #48
ok for `Database::createUser()` it calls `Doctrine::beginTransaction(): 1` before flushing it?

[2017-12-06 10:08] dkarlovi commented on #48
It just flushes it.

[code]

[2017-12-06 10:17] dmaicher commented on #48
Ok interesting :confused:

This is my output:

[code]

So whats the difference between your project and the one I posted above? :smile:

[2017-12-06 10:19] dkarlovi commented on #48
Guess that's for me to find out. :see_no_evil:

I'll keep you posted if I figure anything out, thank you very much for your help here. :+1:

[2017-12-06 10:33] dkarlovi commented on #48
Just to confirm: as I see you have no DB setup step, I assume you're using a pre-setup DB instance (with the proper schema etc?) That might be it: I have a BeforeScenario step which sets up the database schema so the tests can run unsupervised on new CI servers.

[2017-12-06 11:08] dmaicher commented on #48
@dkarlovi yes indeed I did not add any bootstrapping for the DB on that project.

Hmm ok I assumed that all DB changes done within a whole behat suite (hence this hook https://github.com/dmaicher/symfony-flex-behat-test/blob/master/features/bootstrap/TransactionalDatabaseTrait.php#L12) should be transactional / rolled back.

So you would have to make sure to call ` StaticDriver::setKeepStaticConne

[2017-12-06 13:31] dkarlovi commented on #48
@dmaicher I have not been able to get it to work, sadly. Seems the setup-vs-run is a non-trivial setup so it might make sense to try and get the whole thing running, might reveal some bugs in the implementation.

For example, you could use [a custom Kernel](https://gist.github.com/dkarlovi/4d2218cd3a9224ffc821ab82f1455e0a) instead of a bootstrap which sets up your schema.

[2017-12-06 19:23] dmaicher commented on #48
@dkarlovi but does not make sense to run DB bootstrapping within `BeforeScenario`? So you do that before every scenario?

To do it once before all scenarios seems more logical to me? I mean ideally all changes from scenarios are rolled back anyway.

[2017-12-06 20:40] dkarlovi commented on #48
Yes, I've moved the setup procedure to the Kernel, as linked.

My point is, Behat integration seems to be more involved than I expected if you account for the setup step too.

[2017-12-13 10:55] kojiDev commented on #48
@dmaicher I tried your trait and it seems to be working, but after some time it explodes with exception:
[code]

[2017-12-13 18:21] dmaicher commented on #48
@kojiDev hmm interesting. Seems for some reasons too many new connections are created?

Can I see your behat yml config?

[2017-12-13 21:42] kojiDev commented on #48
[code]

[2017-12-21 09:23] dkarlovi commented on #48
It might make sense to create a full-blown project (with bootstraping the database schema, fixtures, etc) and have this integrated properly, fixing all these issues we're having. I'll try to find time to do it, will link back here.

[2017-12-21 11:07] dmaicher commented on #48
@dkarlovi yes that would make sense indeed :+1: Feel free to fork https://github.com/dmaicher/symfony-flex-behat-test and add more stuff to it

[2017-12-21 11:36] dkarlovi commented on #48
@dmaicher Sounds good. :+1:

[2018-01-11 09:56] norbert-yoimo opened #50 "PDOException on GCP: remaining connection slots are reserved for non-replication superuser connections"
The bundle works great locally (the time it takes for our test suite to run went from 2:30 to 0:30), however some tests fail (namely, 3 out of 99) with the above error when we try to run our tests in Jenkins, which is deployed on Google cloud, and uses Google cloud sql (postgres).

Do you have any pointers on how to resolve this, or what might be the cause?

The full error is:
[code]

[2018-01-11 16:06] dmaicher commented on #50
Hmm I'm not so familiar with the Google Clould SQL environment :confused:

How exactly are you running your test suite? Is it one php process? It seems for some reason too many connections are created and not closed properly.

[2018-01-12 12:01] norbert-yoimo commented on #50
It's one php process, invoked simply by `php ./vendor/bin/phpunit`.

Does the bundle do anything like opening multiple persistent connections?

[2018-01-12 13:13] dmaicher commented on #50
This bundle keeps connections statically in the php process:

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/StaticDriver.php#L48

Maybe for some reason this key changes in your case? And too many connections are created?

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/StaticDriver.php#L

[2018-01-18 18:41] dmaicher commented on #50
@norbert-yoimo any chance to debug this a bit yet?

[2018-01-19 08:23] norbert-yoimo commented on #50
Sorry not yet, but it's on my todo list

[2018-01-23 16:32] norbert-yoimo commented on #50
I had an error in the CI pipeline. Previously it was the test harness that was responsible for generating the database, but after installing this bundle, I removed this logic, so that the database does not get dropped/recreated between tests.

This caused all the tests to try to connect to a non-existant database. I have moved the database creation to be part of the CI pipeline, but now I'm runnin

[2018-01-23 16:32] #50 closed

[2018-01-24 09:20] norbert-yoimo opened #52 "Breaks on latest doctrine/dbal master"
I have doctrine/dbal pinned to commit `1faeb78` (commit made on 2018. 01. 12.), because there are some patches in master that are required for PostgreSQL 10 support.

Unfortunately the doctrine-test-bundle breaks with this, with the following:

[code]

Disabling the bundle by removing it from AppKernel.php makes the tests pass successfully.

[2018-01-24 19:29] dmaicher commented on #52
From the stack trace it seems you are manipulating the DB structure using `SchemaTool`? On which query does it fail exactly?

When using this bundle ideally you should not manipulate the DB structure during a test case as its running within a transaction.

You could try this if you really need to change the schema:

[code]

[2018-02-02 08:44] garak opened #53 "Not working with phpunit 7"
Just tried to upgrade phpunit from 6 to 7, got following fatal error:

[2018-02-02 08:56] dmaicher commented on #53
Thanks for the info 👍 I will look into this asap

[2018-02-04 01:12] Soullivaneuh commented on #53
Another error I have:

[code]

[2018-02-05 12:13] dmaicher commented on #53
New major `5.0.0` has been released which supports PHPUnit 7 now 😉

[2018-02-05 12:13] #53 closed

[2018-02-09 07:49] dmaicher commented on #52
ping @norbert-yoimo

[2018-02-09 13:15] norbert-yoimo commented on #52
You were correct, I had some calls to schematool, removing those fixed the problem. Now I'm running into a different problem with Alice, when the bundle is loaded, the fixtures don't get persisted into the database, but only in /some/ cases, that I have yet to figure out why :/.

Thanks.

[2018-02-09 13:15] #52 closed

[2018-05-11 09:04] whyte624 opened #58 "Syntax error or access violation: 1305 SAVEPOINT DOCTRINE2_SAVEPOINT_2 does not exist"
Do you have any idea, what could cause this problem?

Without your bundle there is no such problem.  I'm using latest version.
Doctrine ORM v2.6.1

[2018-05-13 18:32] dmaicher commented on #58
Unfortunately I will not be able to help without any more information :wink:

- can I see a full stack trace of the exception?
- which queries are run exactly during that test case?

[2018-05-18 12:58] Soullivaneuh commented on #58
Here you go:

[code]

I don't know for the queries, but I have this error since some packages upgrade:

[code]

I'm still investigating. But do you have any clue of how this error may happen?

[2018-05-18 13:49] Soullivaneuh commented on #58
@dmaicher Maybe do you also have a simple way to list all the doctrine queries done on PHPUnit before the crash?

[2018-05-18 14:08] Soullivaneuh commented on #58
Here is a more condensed composer changes between my working master branch and the broken one:

[code]

[2018-05-18 14:10] dmaicher commented on #58
Thanks! I will try to have a look on the weekend and see if I can reproduce it somehow on this test project https://github.com/dmaicher/doctrine-test-bundle-demo where I also use doctrine data fixtures

[2018-05-18 14:13] Soullivaneuh commented on #58
Thanks @dmaicher. I'm pretty sure it's related to the data fixtures but I can't find where is the issue for now.

[2018-05-18 14:19] Soullivaneuh commented on #58
@dmaicher I found this documentation: https://github.com/theofidry/AliceDataFixtures#phpunit

And I tried with this configuration to be sure there is no `TRUNCATE TABLE` anywhere (in any case, the purge mode is delete by default, not truncate):

[code]

But it change nothing.

@theofidry if you have a bit of time for us, could you please confirm the way to go? Did you already run onto this kind of

[2018-05-18 15:19] Soullivaneuh commented on #58
I manage to get the executed queries until the crash:

[code]

Hope it will help you a bit @dmaicher

[2018-05-18 15:56] Soullivaneuh commented on #58
@dmaicher Please see also: https://github.com/liip/LiipFunctionalTestBundle/issues/423

[2018-05-18 21:28] Jean85 commented on #58
I do have the same issue, but I do not use the fixture backup functionality of the Liip bundle... Is it possible that the issue stems from the fact that we are using always the same static connection for everything, and this creates issues with the savepoints, which gets the same names?

[2018-05-22 17:49] dmaicher commented on #58
So I can reproduce this issue using the following test:

https://github.com/dmaicher/doctrine-test-bundle-demo/compare/failing-test?expand=1#diff-e6d49a4a6218eade307d2e99883975ddR62

Results in

[code]

So basically any query run inside a user-land code transaction that causes implicit transaction commits (like ALTER table etc) is a problem for doctrine on roll-back :cry:

I don't think I can fix

[2018-05-23 11:29] Jean85 commented on #58
Thanks @dmaicher for your debug. In my case though, I don't think I'm doing an `ALTER` ora a `TRUNCATE`... I'll try to log the queries to understand what is the trigger of this bug for me.

[2018-05-23 16:18] Soullivaneuh commented on #58
I think you are right, there is pretty much nothing you can do except helping. Thanks for the input. :+1:

[2018-05-23 16:19] theofidry commented on #58
Maybe a clearer exception message or a doc entry for the issue could be nice though :)

[2018-05-24 15:08] Jean85 commented on #58
Unfortunately the exception comes from DBAL, so we cannot intercept it. Something in the docs could be done, yeah!

[2018-06-01 14:16] dmaicher commented on #58
I added some info to the readme here https://github.com/dmaicher/doctrine-test-bundle/pull/59

Please have a look :wink:

[2018-06-06 18:54] #58 closed

[2018-06-07 07:53] nikophil opened #61 "[Question] Problem with symfony's PhpUnit Bridge"
Hello,

i'd like to use your bundle with php 7.1 and symfony 4.1
But i'm running into this error :
[code]

i'm using the phpunit bridge, and the php unit version that naturally comes with it : it's actually the 5.7
I can't find a way to tell PhpUnit Bridge to use a more recent version...
i saw this issue : #31 but i can't find a way to solve my problem

thanks for your help

[2018-06-07 09:40] dmaicher commented on #61
I can have a look later today. But it seems weird that the phpunit bridge requires a non-maintained phpunit version?

Indeed the listener that ships with this bundle is only compatible with phpunit 6+.

[2018-06-07 09:45] dmaicher commented on #61
It seems you can define an environment variable for the version to use?

See this fix I did for the symfony demo (which also uses the phpunit bridge):

https://github.com/symfony/demo/commit/f1f53a69989491cd65bf9fcbe82f75e5f53d0ded

[2018-06-07 10:10] nikophil commented on #61
Hello,

thank you for this really quick and relevant answer :)
i had to add this var env to my phpunit.xml file and it did the work !
Shouldn't you add it to the docs ?

i agree it's strange that the PhpUnitBridge ships this really old
version.... but i've juste made a test from a fresh new install of the
symfony skeleton, and this is actually the true

2018-06-07 11:45 GMT+02:00 David Maicher <no

[2018-06-07 10:15] nikophil commented on #61
and by the way, thanks for this bundle, it's working great !

[2018-06-08 08:16] nikophil commented on #61
perfect !

[2018-06-08 08:16] #61 closed

[2018-06-18 06:01] siewert87 commented on #61
Hey,
anyone checked this? https://github.com/symfony/demo/issues/811
Best,
Christian

[2018-06-30 13:35] B-Galati opened #63 "Integrate these features directly in doctrine/doctrine-bundle ?"
Hello,

Everything is in the title.

What do you think?

[2018-07-23 19:35] dmaicher commented on #63
Well it would be doable I guess :blush:

The question is if there is any real benefit in doing so?

[2018-07-24 10:17] B-Galati commented on #63
Yes, IMO they are "must have opt-in features" that one should have out of the box.
These features would benefit from the Symfony eco-system by being merged into doctrine bundle.

[2018-09-18 14:10] dunglas commented on #63
Hi there,

I want to add an easy way to deal with fixtures Symfony Panther. Actually, thank to your bundle, there is almost nothing to do!

However, it's difficult for developers to discover the required packages (Doctrine Fixtures + this one + @theofidry's AliceDataFixtures + maybe hautelook/AliceBundle).

It's a lot, and most of these packages don't have an official recipes yet. Reducing the num

[2018-10-08 19:01] dmaicher commented on #63
With this point I agree although since a while this bundle is mentioned in the docs: https://symfony.com/doc/current/testing/database.html

[2018-10-10 16:26] Growiel opened #66 "Not working with PHPUnit process isolation"
Hello,

I configured the bundle as per the documentation (add the bundle AppKernel, add the listener in phpunit.xml.dist...) but it doesn't work.

From my own debugging of the bundle, the issue is that when `StaticDriver::connect()` is called, `self::$keepStaticConnections` is false, which makes this bundle do absolutely nothing.

I did find the place where the `keepStaticConnections` is supposed

[2018-10-11 06:31] dmaicher commented on #66
Hmm that is interesting :confused:

How exactly are you running your tests? Are you doing some parallel execution in multiple php processes?

If you could somehow give me a minimal reproducer I could also have a look myself.

[2018-10-11 06:34] Growiel commented on #66
Hello, thanks for the quick response!

I actually just found out what's happening: my test was running with `@runIngSeparateProcess`, and it looks like when this happens, the `keepStaticConnections` variable is not set to true for the separate process.

Removing the `@runIngSeparateProcess` makes it work. I tweaked my original code so I do not require `@runIngSeparateProcess`, but if you somehow c

[2018-10-11 14:00] dmaicher commented on #66
Ok I see :wink:

One idea could be to put this call

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitListener.php#L23

here

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitListener.php#L13

[2018-10-19 07:28] B-Galati commented on #48
It works really well thanks ;)

[2018-11-05 16:21] matiux opened #67 "PhpUnit process isolation"
I'm working on sf 4.1.7 with phpunit 7.4.
If I run tests with `process isolation = true`, tests are not transactional :confused:
Instead with `process isolation = false` all works well

[2018-11-13 15:21] dmaicher commented on #67
This is a duplicate of https://github.com/dmaicher/doctrine-test-bundle/issues/66, right? I'm on vacation currently but feel free to give it a try yourself and contribute the fix :)

[2018-11-19 12:36] mnapoli commented on #45
Unfortunately with MySQL the same trick does not seem to be possible as `ALTER TABLE` triggers an implicit commit, which doesn't work with this package and triggers an error (#58).

If anyone has a trick to have predictable IDs I'm interested :)

[2018-11-22 09:48] dmaicher commented on #67
Duplicate of https://github.com/dmaicher/doctrine-test-bundle/issues/66

[2018-11-22 09:48] #67 closed

[2019-01-04 17:34] dmaicher opened #71 "Make sure it works fine with PHPUnit 8 before its released"
Will be released Feb 1 2019: https://github.com/sebastianbergmann/phpunit/milestone/28

We should add it to the travis config so functional tests (covering the listener as well) are run also with PHPUnit 8.

[2019-01-27 17:53] truckee opened #74 "Incorrect listener class"
At least with Symfony 4.2.2 it was necessary to replace
[code]
with
[code]

[2019-01-27 18:00] truckee opened #75 "Incompatible with liip/LiipFunctionalTestBundle"
I believe this bundle is incompatible with  liip/LiipFunctionalTestBundle due to it's use of `DROP TABLE...` The presence of that bundle is most likely the source of `1305 SAVEPOINT DOCTRINE2_SAVEPOINT_3 does not exist`.

A shame, since upgrading a 3.4 application to 4.2 functional testing times have increased by a factor of 5 or more. There is no relief with this bundle.

[2019-01-27 20:09] truckee commented on #74
Curious.  My untouched `phpunit.xml.dist` from which I created a `phpunit.xml` has `<listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />`. Because of that, and the could not find message I got, I modified to `<listener class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" />`.

I doubt there's much value in trying to sort that out so I'll close this if you don't mind.

[2019-01-27 20:09] #74 closed

[2019-01-27 20:47] truckee commented on #75
Tried this. Sadly, no improvement.

[2019-01-30 20:00] borNfreee commented on #75
Does this bundle work without PHPUnit listener? :|

[2019-01-30 20:02] dmaicher commented on #75
not fully :smile: Some parts of the features (like the `StaticCache` for doctrine query and meta data caches) works. But the main feature for rolling back DB changes after every test works just with the listener.

[2019-02-01 08:45] #71 closed

[2019-02-25 17:36] metaer opened #76 "Class "\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" does not implement the PHPUnit_Framework_TestListener interface"
When I use command
`./vendor/bin/simple-phpunit`
from this documentation: https://symfony.com/doc/3.4/testing

I get
  _- Installing phpunit/phpunit (5.7.27): Downloading (100%)_
_...
Writing lock file
Generating optimized autoload files_

and then such error:

_Class "\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" does not implement the PHPUnit_Framework_TestListener interface_

[2019-02-25 18:47] dmaicher commented on #76
See this part of the readme:

PHPUnit 5 is not supported anymore.

[2019-02-25 18:47] #76 closed

[2019-03-20 16:22] B-Galati opened #77 "Deprecations notices with phpunit 8"
Hello!

I am having these deprecations notices from phpunit thanks to SymfonyTestListener.

[code]

I did a custom extension to remove these:

[code]

What do you think?

[2019-03-20 16:25] B-Galati commented on #77
I could try to make a PR if providing an Extension for Phpunit8 looks ok to you.

[2019-03-20 17:14] dmaicher commented on #77
Yes any PR to fix this is welcome!

I guess we need another condition like this one?

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitListener.php#L26

wondering why the travis build did not show me any deprecations :cry:

[2019-03-20 17:40] B-Galati commented on #77
No because it's an extension and it is not configured the same way. I think a new class and a proper documentation update will do the job just fine. WDYT?

I guess, they showed up for me because I have Symfony Test Listener activated on phpunit config.
Don't know what would be the normal behavior without it.

[2019-03-20 17:40] B-Galati commented on #77
I'll make a PR then!

[2019-03-20 17:50] dmaicher commented on #77
Don't know what would be the normal behavior without it.

actually the listener is also active for the tests of this bundle :blush:

https://github.com/dmaicher/doctrine-test-bundle/blob/master/tests/phpunit.xml#L35

[2019-03-20 17:56] B-Galati commented on #77
Indeed! Weird!

[2019-03-22 10:34] #77 closed

[2019-03-31 01:36] TomaszGasior opened #79 "Symfony 4: "Legacy deprecation notices (1)" because of this bundle"
After installation of this bundle, message "Legacy deprecation notices (1)" is shown always in output of `bin/phpunit` command.

I prepared minimal project which reproduces this issue.
[skeleton.zip](https://github.com/dmaicher/doctrine-test-bundle/files/3026132/skeleton.zip) Please unzip it and try to run `bin/phpunit`.

[2019-03-31 14:50] dmaicher commented on #79
Seems this happens when running PHPUnit 6.4+ but < 7.

This class was deprecated in PHPUnit 6.4 :stuck_out_tongue:

https://github.com/sebastianbergmann/phpunit/blob/6.4.0/src/Framework/BaseTestListener.php#L15

This will be tricky to fix and PHPUnit v6 is legacy anyway :wink:

If you use PHPUnit 7 (or even 8 with the Extension and not the Listener) then you are deprecation-free :wink:

[code]

[2019-03-31 14:50] #79 closed

[2019-04-05 11:56] mnapoli commented on #48
Seems to work fine as well for me, here is a recap for those interested and too lazy (like me) to read the whole thread (supposing you use Symfony Flex):

- install `dmaicher/doctrine-test-bundle`
- create `config/packages/test/dama_doctrine_test_bundle.yaml` with [this content](https://github.com/dmaicher/symfony-flex-behat-test/blob/master/config/packages/test/dama_doctrine_test_bundle.yaml)
- i

[2019-04-05 12:12] dkarlovi commented on #48
Agreed, we can close here. <3

[2019-04-05 12:12] #48 closed

[2019-04-05 12:18] mnapoli commented on #48
@dkarlovi I wasn't expecting this to be closed but that's actually a good thing 😄 : I opened a PR to document all of this in the README: #80

[2019-04-05 14:59] mnapoli commented on #45
A little update here: my workaround is to have a SQL script that resets the autoincrements.

Then this is what I do in my BeforeScenario in Behat:

[code]

You'll notice the commit and try/catch: this is because on connection the `StaticDriver` auto-starts a transaction. That transaction is broken by the `ALTER TABLE` in `autoincrements.sql`, the only way I could make it work reliably was with thi

[2019-04-09 08:53] dmaicher commented on #45
@mnapoli actually very similar to a workaround I have in some tests :see_no_evil:

For me there is no need to catch any exceptions though:

[code]

[2019-04-09 09:20] dmaicher opened #81 "Drop support for PHPUnit 6?"
We should consider dropping support for PHPUnit 6 with the build-in listener.

Its not supported anymore: https://phpunit.de/supported-versions.html

Also when using PHPUnit 6.4+ but < 7 there are deprecations: https://github.com/dmaicher/doctrine-test-bundle/issues/79

I don't think its worth fixing them for this legacy version of PHPUnit.

If we move forward this should be released as a new majo

[2019-04-09 09:44] mnapoli commented on #81
@dmaicher honestly you should do what's simplest for you to maintain. Existing releases will still work anyway for those still on v6.

Also technically I'm not sure this is a BC break since Composer will deal with version constraints and won't install new updates for people on PHPUnit 6. But it's up to you, sometimes doing a BC break is clearer for users.

[2019-04-09 09:46] dmaicher commented on #81
@mnapoli actually it will be a BC break as this bundle does not have hard dependency on phpunit (so it works with symfony's phpunit bridge as well for example).

Maybe I could add a "conflicts" for phpunit 6 though.

[2019-04-09 10:03] B-Galati commented on #81
New major that supports only PhpUnit 7+ sounds good to me.

Given the stability of this library, current version can stay unmaintained IMHO once the new major is released .

[2019-04-09 10:05] B-Galati commented on #81
Perhaps there is some work to do at runtime to detect Symfony phpunit bridge version that woul not be compatible.

[2019-05-13 10:52] engharb opened #82 "Compatibility with Symfony4.2.4"
Hi,
I'm not sure if this libs is compatible with symfony4. I installed it and created test/dama_doctrine_test_bundle.yaml config file. But when I run the tests I get
[code]

And should create the following file:
[code]
?

Thank you

[2019-05-13 11:34] dmaicher commented on #82
This bundle is fully compatible with Symfony 4 :wink:

It seems the bundle is not loaded in your Kernel class?

[2019-05-13 11:38] engharb commented on #82
@dmaicher

Thank you. I have different problem with phpunit.bootstrap.php
[code]

I could not be able to find \Tests\Functional\AppKernel?

[2019-05-13 12:45] engharb commented on #82
The library does not seem work fine!

[2019-05-13 12:51] engharb commented on #82
I am using sqlite test database and when I run
[code]

[2019-05-13 17:39] dmaicher commented on #82
I don't think that issue is related to this bundle? whats the stack trace for that error?

[2019-05-14 07:41] engharb commented on #82
Thank you I found a workaround. It works fine. But I have a question what is the best way to check that the library after each test rollbacks the DB?

[2019-05-14 07:42] dmaicher commented on #82
Just create some test case where you assert that previous changes are rolled back?

Also see the functional tests of this bundle:

https://github.com/dmaicher/doctrine-test-bundle/blob/master/tests/Functional/FunctionalTest.php#L52

[2019-05-14 07:42] #82 closed

[2019-05-21 09:01] cve opened #83 "Is there any way to start and rollback transaction in browser tests?"
Hi,

I want to run my behat (chromedriver) tests within transaction and my question is: is that possible for example throught api endpoints?: /api/start-transaction and /api/rollback-transaction

[2019-05-21 12:39] dmaicher commented on #83
This is not so easy to achieve :wink:

If you execute php via a webserver you will get a new mysql connection on every request. So having a "cross-request transaction" is not really supported out-of-the box.

It might be doable with persistent connections? Never looked into it.

https://php.net/manual/en/features.persistent-connections.php

[2019-05-22 20:56] dmaicher commented on #83
Anyway nothing I can fix on this bundle as it has to be supported lower level to have a persistent connection.

[2019-05-22 20:56] #83 closed

[2019-05-23 07:51] cve commented on #83
Thank you for open my eyes on persistent connection :)

[2019-06-04 10:32] piszczek commented on #66
I had to create ulgy class which override base test client.

[code]

Now everything works fine.

[2019-06-10 08:16] javiereguiluz opened #84 "Deprecation related to PHPUnit BaseTestListener"
In the Symfony Demo app tests we're seeing the following deprecation related to this bundle:

[code]

See for example https://travis-ci.org/symfony/demo/jobs/543623854

Thanks.

[2019-06-11 08:58] dmaicher commented on #84
This is actually related to https://github.com/symfony/demo/issues/992

As phpunit 6 is not maintained anymore I would avoid fixing the deprecation for it on this bundle. If phpunit version 7 is used then everything is fine:

[code]

[2019-06-11 09:15] dmaicher commented on #84
Would be fixed by https://github.com/symfony/demo/pull/1000

[2019-06-11 09:15] #84 closed

[2019-07-10 13:00] #81 closed

[2019-09-22 15:46] garak opened #88 "Deprecations"
Spotted a new couple of deprecations related to PHPUnit:

and

[2019-09-23 09:34] dmaicher commented on #88
@garak when do you get those deprecations? which phpunit version are you using?

[2019-09-23 10:58] garak commented on #88
Sorry, it's my fault.
I was on a new project and likely I copied configuration from a very old one, using listener instead of extension with phpunit 8.
Thank you

[2019-09-23 10:58] #88 closed

[2019-09-24 07:22] murilozilli opened #90 "Cant install it with my current symfony version"
[code]

My composer.json

[code]

[2019-09-24 07:26] dmaicher commented on #90
Can you post the output of `composer show`?

[2019-09-24 07:30] murilozilli commented on #90
I was able to install `v5.0.3` hopefully it wont be a huge problem

This is my `composer show`
[code]

[2019-09-24 09:23] dmaicher commented on #90
@murilozilli wow you have a lot of unstable dev dependencies installed :see_no_evil:

On purpose?

I would recommend putting `"prefer-stable": true` into your `composer.json`.

[2019-09-24 09:53] dmaicher commented on #90
@murilozilli can you post the output of `composer why-not dama/doctrine-test-bundle ^6.0`? Maybe I can spot some other issue. Otherwise I would close here.

[2019-09-24 10:21] murilozilli commented on #90
[code]

[2019-09-24 10:37] dmaicher commented on #90
Ok I see. Your `doctrine/doctrine-bundle` is quite outdated. You should make sure to stay up to date with dependencies. Then you can also use version `^6.0` of this bundle :wink:

Anyway `v5.0.3` will also work fine.

[2019-09-24 10:37] #90 closed

[2019-09-25 01:14] murilozilli commented on #90
@dmaicher all worked fine with `v5.0.3`. A lot of improvement in terms of perfomance too. Also ended up learning one thing or two about composer which might help the project in the long-term. Thanks for the attention

[2019-09-30 11:42] thewholelifetolearn commented on #45
I used @aaa2000 solution and tweaked it a bit so that it works with fixtures too:

[code]

It works with PosstgreSQL 10.3.

[2019-10-16 07:20] garak opened #91 "Time for a new release?"
See https://github.com/dmaicher/doctrine-test-bundle/compare/v6.0.0...master

[2019-10-16 07:39] dmaicher commented on #91
New release tagged: https://github.com/dmaicher/doctrine-test-bundle/releases/tag/v6.1.0

Thanks for the reminder @garak :blush:

[2019-10-16 07:39] #91 closed

[2019-10-28 18:36] truckee opened #93 "Fatal error: Interface 'PHPUnit\Runner\AfterTestHook' not found"
Attempting to run tests in a Symfony 4.3 application in the Netbeans IDE results in the following:
[code]

I strongly suspect the error is due to Netbeans because I can successfully run tests at the command line. I'm just hoping you have some idea on how to test in Netbeans. Its version is the latest development build as of this writing.  `symfony/phpunit-bridge` is 4.3.5; PHPUnit is 7.5.16.

Inte

[2019-10-28 19:14] dmaicher commented on #93
Sorry but indeed I will close this because that's not an issue with the bundle itself. No idea what Netbeans is doing there.

This question is more suitable for StackOverflow :wink:

[2019-10-28 19:14] #93 closed

[2019-10-28 23:26] truckee commented on #93
Well it isn't Netbeans that's at fault. I started a new project in an effort to create a procedure for reproducing the issue but the error does not appear. Only difference noted between original project and new one is the former showed phpunit as 7.5.16 and the latter as 7.5.17.

Still SEP though.

[2019-11-04 14:43] evertharmeling opened #94 "Bundle seems incompatible with latest releases of doctrine/dbal (2.9.3 and 2.10.0)"
Problem arises with upgrading to `doctrine/dbal:2.9.3` and `doctrine/dbal:2.10.0`.

[code]

Reverting back to `doctrine/dbal:2.9.2` makes my testsuite run again.

Probably the few(er) changes in https://github.com/doctrine/dbal/releases/tag/v2.9.3 (in stead of v2.10.0) narrows the problem down, as both new releases throw the same exception.

[2019-11-04 14:47] dmaicher commented on #94
I just checked and the functional tests of the bundle itself are passing fine with 2.10 :confused:

Also on one of my work projects it works fine with 2.10 and mysql 5.7.

Which db are you using?

[2019-11-04 15:03] evertharmeling commented on #94
Hmmm `SERVER_VERSION: "5.5.5-10.1.41-MariaDB-1~bionic"`, would that be the problem then...

[2019-11-04 15:06] dmaicher commented on #94
Can you check if reverting this change makes a difference?

https://github.com/doctrine/dbal/commit/a9b7bf855c6f391f96773f844d7158500394bcef#diff-7b1e94fb7dd408985f7b7973330dc2ed

[2019-11-04 15:09] evertharmeling commented on #94
Yep, removing this line https://github.com/doctrine/dbal/commit/a9b7bf855c6f391f96773f844d7158500394bcef#diff-7b1e94fb7dd408985f7b7973330dc2edR359 makes my testsuite run again...

[2019-11-05 17:31] jaikdean commented on #94
After upgrading from 2.9.2 to 2.10.0 we've run into an issue calling `$em->refresh($entity);` in our test suite. After making a request that updates the entity's values in the database then calling `refresh()` we don't see any exceptions, but the entity doesn't reflect the changes that were made.

We've checked logs for the same test in 2.9.2 and 2.10.0 and didn't see any difference.

Removing the

[2019-11-05 17:47] dmaicher commented on #94
@jaikdean does it work with `2.9.3`?

[2019-11-06 08:29] marliotto commented on #94
Removing this line https://github.com/doctrine/dbal/commit/a9b7bf855c6f391f96773f844d7158500394bcef#diff-7b1e94fb7dd408985f7b7973330dc2edR359 fixes the issue.
dama/doctrine-test-bundle v5.0.2 and v6.2.0
doctrine/dbal v2.10.0

[2019-11-06 08:37] dmaicher commented on #94
unfortunately so far I cannot reproduce the issue :cry: @evertharmeling is trying to investigate further

[2019-11-06 09:18] jaikdean commented on #94
@dmaicher Our particular issue isn't there with `doctrine/dbal:2.9.3`. We're using `dama/doctrine-test-bundle:6.2.0`.

I'll try to come up with a test case and will update with anything I can figure out, we just have a lot of moving parts to look at on this project.

[2019-11-06 09:24] evertharmeling commented on #94
Using the latest, `dama/doctrine-test-bundle:6.2.0`

[2019-11-06 15:47] evertharmeling commented on #94
Adding the config:
[code]

Solves my problem, which seems logically as I'm testing an internal controller via the `KernelBrowser` and that also invokes it 'externally' via HTTP, as the https://github.com/dmaicher/doctrine-test-bundle#behat state. But not sure if it's a legit fix...?

Why only one test fails in my suite, could be because in the `setUp` method I add 2 entities separately (the relati

[2019-11-06 17:51] dmaicher commented on #94
Using `enable_static_connection: false` essentially disables the main purpose of the bundle and disables transaction roll-back on tests. So we should find a proper fix :smile:

@evertharmeling can you try this change and see if there was an exception thrown in your case that was silenced?

https://github.com/dmaicher/doctrine-test-bundle/compare/small_cleanup?expand=1#diff-e67e9cb1cc462500be1b82d2

[2019-11-07 08:49] evertharmeling commented on #94
Ah ok :)

Unfortunately not, the exception is thrown when calling `$con->rollBack();` (`src/DAMA/DoctrineTestBundle/Doctrine/DBAL/StaticDriver.php:140`) in my case.

[2019-11-07 11:44] evertharmeling commented on #94
I've tried to rewrite my testsuite but unfortunately without luck... Also tried to reproduce it on a `symfony/demo` but couldn't.
So I guess if I'm the only one with this specific problem it's probably related to the setup of my testsuite and it's fine to close this issue... Don't have the time atm to dive in it any further.
Thanks again for the fast follow up and your time!

[2019-11-07 14:23] dmaicher commented on #94
@marliotto @jaikdean any chance you can provide a reproducer?

[2019-11-08 11:35] bobdenotter commented on #94
Just chiming in, we've bumped into the same issue. Details here: https://github.com/bolt/core/issues/702

I can confirm commenting the line `$this->transactionNestingLevel = 0;` "fixes" it.

Modifying  `beginTransaction` in `StaticDriver` to this:

[code]

Still gives the error.

[2019-11-11 11:46] jaikdean commented on #94
I've tried and failed to create one. Our issue might be a side effect of something else in our app or test suite that's wrong.

[2019-11-12 15:35] dmaicher commented on #94
The issue on `bolt/core` was related to running DDL statements during tests and implicitly committing the open transaction on the connection.

See https://github.com/bolt/core/pull/715

[2019-11-12 15:47] evertharmeling commented on #94
Ah this is probably my problem too, I will check it out tomorrow!

[2019-11-13 13:27] evertharmeling commented on #94
Unfortunately it isn't, was already running dropping/creating database in custom Extension class (which used the `BeforeFirstTestHook` implementation), but isolating it via a `bootstrap` still throws the same exception 😞

[2019-11-14 07:29] dmaicher commented on #94
@evertharmeling then I would need a reproducer :cry: Otherwise nothing I can do.

[2019-11-14 08:33] evertharmeling commented on #94
Sure I get it, as I commented before, if I remain the only one with the problem it's fine to close this ;)

[2019-11-14 08:35] binarious commented on #94
You're not the only one. I was hit by this today, too. Every functional test that calls `flush()` of the EntityManager raises this error for me. I'm currently trying to extract a simple test case.

[2019-11-14 09:08] binarious commented on #94
Got one. This one does it for me: https://gist.github.com/binarious/51044562e232fce0a91940188287a6e8

The combination of `static::createClient()` and `$this->em->flush()` seems to be problematic. If one line is removed, the error goes away.

[2019-11-14 09:17] evertharmeling commented on #94
Nice catch @binarious! At least I can confirm that I'm also using the `KernelBrowser` in combination with the `EntityManager` in my failing test.

[2019-11-14 09:59] dmaicher commented on #94
I can reproduce it now :+1: investigating what is going on

[2019-11-14 12:56] dmaicher commented on #94
@evertharmeling @binarious @jaikdean can you test this fix?

https://github.com/dmaicher/doctrine-test-bundle/compare/issue-94?expand=1

I might have found a solution for the problem

[2019-11-14 12:59] binarious commented on #94
Confirmed working. Thanks for the super quick fix, @dmaicher!

[code]

[2019-11-14 13:12] evertharmeling commented on #94
Confirmed working too! Nice job @dmaicher!

[2019-11-14 14:00] jaikdean commented on #94
Sterling work, that's fixed the issue for us too, @dmaicher

[2019-11-14 15:07] dmaicher commented on #94
Perfect :blush: Thanks for the fast feedback.

I will release this tomorrow as patch releases 5.3.1 (just revived 5.x https://github.com/dmaicher/doctrine-test-bundle/pull/96) and 6.2.1.

[2019-11-15 09:25] #94 closed

[2019-12-03 07:55] Toilal commented on #93
@dmaicher This interface doesn't exists before [PHPUnit 7.5](https://github.com/sebastianbergmann/phpunit/tree/7.4.5/src/Runner/Hook).

Please reopen the issue as it's not only a bug with Netbeans. On PHPUnit <7.5, the rollback method is not invoked at all.

[2019-12-03 12:31] dmaicher commented on #93
@Toilal indeed you are right.

I adjusted the readme for this. So please update to PHPUnit 7.5+ or use the listener instead of the extension. Like

[code]

[2019-12-05 09:46] garak opened #103 "Using with multiple connections"
I use this bundle and it always worked seamlessly with default configuration (e.g. with a single orm/dbal config).
Now I'm trying to add a second connection to a project, that it's working in dev env.
But all my tests are errored, with following:

This is a stack trace:
[code]

[2019-12-05 09:48] dmaicher commented on #103
Hmm weird error :confused:

I'm actually using the bundle on a project with 2 connections without any issues.

Can you share your dbal config?

[2019-12-05 09:51] garak commented on #103
Hey, thanks for the prompt  response!

Here it is (with some amendments):

[code]

[2019-12-05 09:57] dmaicher commented on #103
No idea yet how that error can be related to the bundle.

From what I read `SQLSTATE[HY000] [2002] No such file or directory` occurs whenever the hostname/port is wrong and the connection cannot be established.

Are you sure in test env the connection url is correct?

Can you try disabling the bundle to see what happens then?

[2019-12-05 09:59] garak commented on #103
If I disable the bundle, error disappears

[2019-12-05 10:00] dmaicher commented on #103
And this scenario also works?

- disable the bundle
- execute a test that will establish a connection for `mssql` and run some query

[2019-12-05 10:05] garak commented on #103
Well, that `mssql` connection is intended for production use only, indeed I don't get any MsSQL server to connect in dev/test environments.
The weird part is that error looks related to MySQL connection.
I tried to comment out `mssql` config from `doctrine` and it works. As soon as I re-add it, error.

[2019-12-05 10:07] dmaicher commented on #103
Ok I see. I have an idea: we would need to make it configurable per connection if we want the transactional behavior or not.

Currently as soon as this is true

[2019-12-05 10:16] garak commented on #103
For now, I'm using `enable_static_connection: false` and it works

[2019-12-06 11:14] dmaicher commented on #103
@garak can you test this patch?

https://github.com/dmaicher/doctrine-test-bundle/compare/5.x...issue-103?expand=1

it should work with a config like

[code]

[2019-12-06 12:00] garak commented on #103
Unfortunately I'm currently on a php 7.0 project. I'll try to reproduce the problem on a different project and see if patch works

[2019-12-06 16:09] garak commented on #103
I'm sorry but I'm not able to reproduce this problem on a different project 😔

[2019-12-08 22:03] #103 closed

[2019-12-09 21:57] andrew287 opened #106 "Static connection isn't working with DBAL MasterSlaveConnection"
I use DBAL MasterSlaveConnection in my project. After update to 6.3.0 version if `enable_static_connection: true` I get an error:  `Did not find key "dama.connection_name" inside connection params.`

What am I missing?

[2019-12-09 21:59] dmaicher commented on #106
Can you try release `6.2.1` instead of `6.3.0`?

[2019-12-09 22:02] Groonya commented on #106
Yes, 6.2.1 works perfectly.

[2019-12-09 22:03] dmaicher commented on #106
Ok thanks for the info. I will try to reproduce this and provide a fix

[2019-12-09 22:38] dmaicher commented on #106
@Groonya I was able to reproduce it. Can you confirm this fix works?

https://github.com/dmaicher/doctrine-test-bundle/pull/107/files

[2019-12-09 22:48] Groonya commented on #106
So fast:)
There are no any errors anymore, thanks!

[2019-12-09 22:58] dmaicher commented on #106
New release tagged: https://github.com/dmaicher/doctrine-test-bundle/releases/tag/v6.3.1

[2019-12-09 22:58] #106 closed

[2019-12-21 23:11] desmax commented on #45
You should not implement this :)
My tests got better just because I couldn't rely on ids.

[2020-01-17 15:29] andaniel05 opened #108 "Error "There is already an active transaction" when i attempt persist inside setUpBeforeClass()"
My test case:

[code]

Produces the next error:

![1](https://user-images.githubusercontent.com/21297818/72624045-31737200-3914-11ea-972b-ab2536882a01.png)

My environment:
Symfony: 4.4.2
dama/doctrine-test-bundle: 6.3.1

[2020-01-20 15:56] garak opened #109 "phpstan.neon not correctly ignored"
There's a typo in `.gitattributes`: filename is `phpstan.neon`, **not** `.phpstan.neon`

[2020-01-20 16:08] dmaicher commented on #109
Good catch! :smile: See https://github.com/dmaicher/doctrine-test-bundle/pull/110

[2020-01-20 16:13] #109 closed

[2020-01-20 16:30] dmaicher commented on #108
I checked this and doing db changes from within `setUpBeforeClass` seems tricky to supoort with this bundle.

Actually `setUpBeforeClass` is executed before PHPUnit's `BeforeTestHook` which starts the transaction on the DB connection before your `test()` method runs.

So I only see 2 options:

- move the db logic from `setUpBeforeClass` into `setUp` which fits more into the philosophy of this bund

[2020-02-20 15:08] NicolasGuilloux opened #111 "First tests might not be covered by the extension"
Hello there!

I try to develop a test bundle for Symfony, and I am using your extension with LiipFixturesBundle. I know, they seem uncompatible for some cases, but I'm pretty stubborn and we did not encountered these cases for now, so I continue!

Just a quick presentation to explain the flow of the bundle. It uses your PHPUnitExtension and extends from it to load some DataFixtures before the firs

[2020-02-20 15:32] dmaicher commented on #111
so the `StaticConnectionFactory` will only be used when tests have been started. See https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitExtension.php#L15

But what if people are already using a custom `wrapper_class`? This would break stuff for them. Decorating the driver connection is the more robust approach that will cause less issues.

[2020-02-20 15:50] NicolasGuilloux commented on #111
The bug I noticed is that, during the test, the `EntityManager` uses directly the SQLite driver instead of the StaticDriver that should wrap it. So I try to figure out why it does not use the StaticConnectionFactory.

That's the reason, good point. I would rather decorate both the `Doctrine\DBAL\Connection` and `Doctrine\DBAL\Driver\Connection` to fix my bug. I will try something the next hour and

[2020-02-20 16:43] NicolasGuilloux commented on #111
Okay, after some pretty messy stuff, I'm almost sure that LiipFixturesBundle does not use the `StaticDriver` and I guess something somehow is cached somewhere.

I don't have the time to continue the investigation today, but I will come back tomorrow with a fix hopefully.

Ever if it's not your bundles that creates the bug, I hope it will be useful to somebody. :)

[2020-02-21 10:05] NicolasGuilloux commented on #111
Sadly I failed to find the reason why the `EntityManager` or the `Doctrine\DBAL\Connection` points directly to the SQLite driver instead of the `StaticDriver`. The weird thing is that I looked at the cache and it seems correct. Your bundle overrides the default connection factory. Moreover, it is used in the early container loading.

As I am migrating from Symfony 3.4 to Symfony 4.4 on my company'

[2020-02-21 10:11] dmaicher commented on #111
I will close here for now as I cannot see any issue with this bundle in your case

[2020-02-21 10:11] #111 closed

[2020-02-26 20:20] engharb opened #112 "Fatal error: Declaration of DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener"
By installing the bundle I got the following error:
[code]

Local configuration:
Symfony 4.4.4
phpunit/phpunit (6.5.14)
symfony/phpunit-bridge (v4.4.4)
 version ^6.3 for dama/doctrine-test-bundle

OS:
Linux

Any idea?

Thank you

[2020-02-26 20:27] dmaicher commented on #112
As described in the readme the current version of the bundle is incompatible with PHPUnit 6 (which is not maintained anymore).

You need at least PHPUnit 7.

With the phpunit bridge you can achieve this like done on the symfony demo:

https://github.com/symfony/demo/blob/master/phpunit.xml.dist#L15

But even PHPUnit 7 is not maintained anymore :wink: So probably better to directly move to version

[2020-02-26 20:27] #112 closed

[2020-03-02 07:34] BonBonSlick commented on #66
Issue still exists
[code]
[code]

[2020-03-02 20:22] klodoma opened #114 "TypeError : Return value of DAMA\DoctrineTestBundle\Doctrine\DBAL\StaticDriver::getDatabase() must be of the type string, null returned"
[code]

If you use an in-memory database
`<env name="DATABASE_URL" value="sqlite:///:memory:"/>`

then this leads to a type error:

`TypeError : Return value of DAMA\DoctrineTestBundle\Doctrine\DBAL\StaticDriver::getDatabase() must be of the type string, null returned`

A in memory sqlite goes in here and returns NULL and not string(has no path)
[code]

Just changing

 fixes the issue.

[2020-03-02 20:38] dmaicher commented on #114
See https://github.com/dmaicher/doctrine-test-bundle/pull/115

Indeed the `AbstractSQLiteDriver` may return `null` although the phpdoc annotates the method with return type `string` on the `Driver` interface :confused:

https://github.com/doctrine/dbal/blob/2.11.x/lib/Doctrine/DBAL/Driver.php#L56

[2020-03-02 20:42] #114 closed

[2020-03-02 20:43] dmaicher commented on #114
new release 6.3.2 tagged :wink:

[2020-03-02 20:44] klodoma commented on #114
Thank you!

[2020-03-04 10:46] dmaicher commented on #66
@BonBonSlick I'm not personally using process isolation in any of my projects. If you are interested in supporting it then feel free to dig into it and create a PR. Also feel free to suggest any Readme update for this issue with a PR :wink:

[2020-03-18 14:20] NicolasGuilloux commented on #111
For the record, I solved it. Apparently some components were loaded before the PHPUnit runs the `PHPUnitExtension::executeBeforeFirstTest`. So the `StaticDriver` was not configured to keep static connection. By the time this function is called, some `EntityManager` and `Connection` were instanciated and therefore not registered in the `StaticDriver`.

I solved it by using a ConnectionFactory that

[2020-04-02 08:37] ZeusInTexas opened #117 "Wrong driver when using DotEnv URL"
Hi,
I just stumbled across an issue with doctrine-test-bundle (awesome work by the way).
Using the following config (note the absence of the `driver` node):

    connections:
      default:
        url: '%env(resolve:DATABASE_URL)%'

When creating the connection during container compilation in DoctrineTestCompilerPass, the driver parameter seems to always be set to `pdo_mysql` even if using a non-

[2020-04-02 08:59] dmaicher commented on #117
I just tried to test it with a dsn like

[code]

and it works fine. So currently I cannot reproduce it :confused:

What does `bin/console debug:config doctrine` output for this connection?

[2020-04-02 09:07] ZeusInTexas commented on #117
I think it's related to later resolution of the environment parameters. When the function is called, `$connectionOptions['url']` looks like `env_<hash omitted>_resolve_DATABASE_URL_<hash omitted>`, and `$connectionOptions['driver']` is set to `pdo_mysql` (the default value).

`bin/console debug:config doctrine` gives:

[code]

[2020-04-02 09:37] dmaicher commented on #117
Not sure its related to this bundle then? When not in the `test` env then this bundle should not even be loaded. And `bin/console debug:config doctrine` uses `dev` env for you I guess?

Ca you try setting the `driver` to null? Like

[code]

[2020-04-02 09:43] ZeusInTexas commented on #117
I agree. This might be related to doctrine itself. The bundle is only loaded on test environment as per in `bundles.php`, set by Symfony Flex:

[code]

Setting driver to null yields

[code]
And `bin/console -e test  debug:config doctrine` gives the same output:
[code]

[2020-04-02 09:52] dmaicher commented on #117
I cannot reproduce that. This works for me

[code]

[code]

[2020-04-02 09:59] ZeusInTexas commented on #117
I tried running the exact same commands and still get the same exception.
What version of Symfony / DBAL are you running?
I have:
[code]

[2020-04-02 10:01] dmaicher commented on #117
I'm using

[code]

[2020-04-02 10:08] ZeusInTexas commented on #117
I'll try downgrading to Symfony 4. This might be related to SF5 only

[2020-04-02 12:24] ZeusInTexas commented on #117
A little update on this. A check on Doctrine's issues list got me to this particular issue: https://github.com/doctrine/DoctrineBundle/issues/689. I analyzed the stack trace and realized that the exception was being thrown way too early during kernel boot:

[code]

Turns out line 17 of TypeGeneratorPass.php is a call to the container:

`$generatedClasses = $container->get('overblog_graphql.cache_c

[2020-04-02 12:45] dmaicher commented on #117
And this specific error also happens when this bundle is not loaded?

[2020-04-02 12:52] ZeusInTexas commented on #117
Setting `driver` to null causes the exception across all environments, whether the bundle is loaded or not. This might be related to doctrine itself.
However the entity manager manages to pick up the right connection somehow when the bundle is not loaded.

[2020-04-07 11:02] dmaicher commented on #117
@ZeusInTexas I will close for now since I don't see how this bundle causes that issue. If you think it should be re-opened let me know.

[2020-04-07 11:02] #117 closed

[2020-04-27 21:37] sabat24 commented on #108
In my case I have to use `setUpBeforeClass` because I load there some initial fixtures for all tests. Such code can't be moved to the `setUp` because in such way there will be no point to use that bundle. I tried to add `StaticDriver::commit();` at the end of `setUpBeforeClass` which is acceptable solution for me - but I still get an error about active transaction.

[code]

Error is caused by `loa

[2020-04-29 12:07] dmaicher commented on #108
I just tried that and for me it works :confused:

See https://github.com/dmaicher/doctrine-test-bundle/compare/setup_before_class?expand=1#diff-03fced164fdf7a5fedfdcc4e5733a19fR65

1. insert a row in `setUpBeforeClass`
2. row exists in test cases
3. any added rows in test cases are rolled back

@sabat24 can you debug somehow why the connection you have is not committed with `StaticDriver::commit()

[2020-04-29 12:26] sabat24 commented on #108
I use [hautelook/AliceBundle](https://github.com/hautelook/AliceBundle) to load fixtures to DB in `setUpBeforeClass`. I think that mentioned bundle starts a transaction inside `$loader->load($fixtures);` method. Then your bundle probably because of some kind of listener applied starts another transaction which causes my problem.
If I could somehow tell your bundle to disable that listener on `setU

[2020-04-29 12:31] dmaicher commented on #108
@sabat24 can you try this?

[code]

[2020-04-29 18:44] sabat24 commented on #108
It worked and it was exactly was I looked for. Thank you.

[2020-04-29 20:14] #108 closed

[2020-05-15 11:29] DanielCambray opened #118 "phpunit very slow"
Hi,

sorry if it's a stupid question. I have about 150 tests that run rather quickly (about 5s). But when I set the parameter enable_static_connection to true, it become very sluggish (about 1min). Have I miss something ?

Thanks.

[2020-05-16 09:31] dmaicher commented on #118
Hard to tell what's happening there in your case. Can you share a blackfire profile comparison of both cases maybe?

[2020-05-16 09:32] dmaicher commented on #63
I'm closing this for now

[2020-05-16 09:32] #63 closed

[2020-05-25 11:28] dmaicher commented on #118
Closing for now. Let me know if you have any way for me to profile those slow tests.

[2020-05-25 11:28] #118 closed

[2020-05-26 15:11] mareckigit opened #119 "Integration with @depends"
Is it possible to integrate the bundle with PHPUnit tests dependencies?
I mean sth like this:
[code]

[2020-05-26 17:17] dmaicher commented on #119
Thanks for the proposal but I personally don't think this is a good idea. Tests should be isolated from each other. If two tests depend on each other then I would combine them into one test or have some shared code between them.

[2020-05-26 17:17] #119 closed

[2020-05-27 07:53] mareckigit commented on #119
Consider the UserController. There is a registerAction() and confirmAction(). Consequently, there are 2 separate tests testRegisterAction() and testConfirmAction(). Can't execute testConfirmAction() if there is no data created by testRegisterAction().

I agree with - tests should be isolated from each other, but if we mean paths. The testArticleView() should not depend on testArticleCreate(). It s

[2020-05-27 09:59] mareckigit opened #120 "There is already an active transaction"
When I use:
`./bin/phpunit --group mygroup`
I get exception: There is already an active transaction

When I use:
`./bin/phpunit`
it works.

Before installation of doctrine-test-bundle both cases worked correctly.

[2020-05-27 13:54] dmaicher commented on #120
- Can I see a stack trace of that exception?
- Are you doing any database things inside `setUpBeforeClass` methods?

[2020-05-27 14:25] mareckigit commented on #120
I simulate authethication in setUpBeforeClass(). When it's moved to single test, it works.

[code]

[2020-05-27 14:32] dmaicher commented on #120
Currently there is no way to support that unfortunately :cry:

See https://github.com/dmaicher/doctrine-test-bundle/issues/108

The `BeforeTestHook` this bundle uses is executed after the `setUpBeforeClass` so all changes done there are not transactional anymore and there is no way to roll them back.

[2020-05-27 15:36] mareckigit commented on #120
Sorry, I haven't seen this issue. I've added  `StaticDriver::commit()` to `setUpBeforeClass()` and now it works.

It is strange for me that the exception was thrown only when the filter by group was used. Without a filter, when all tests are run, the exception is not thrown. Do you know what's the relationship?

Thanks for help.

[2020-05-27 22:08] mareckigit commented on #120
Finally I resolved this by https://github.com/dmaicher/doctrine-test-bundle/issues/108#issuecomment-621172305

[2020-05-28 05:56] dmaicher commented on #120
probably its because when you run all tests the test does not run as the first test? But when you run only for that group then the test with `setUpBeforeClass` runs first? That would explain it.

[2020-05-28 05:56] #120 closed

[2020-06-11 06:45] jeanlucc commented on #111
@NicolasGuilloux Hello, I think in a different context we have a similar problem of `keepStaticConnection` being false at the beginning of things and thus a connection is created without the StaticDriver.
My idea is totally different but ends up by setting the param to true before what is done currently.
Would you mind to give me some feedback here : https://github.com/jeanlucc/doctrine-test-bundl

[2020-06-11 08:00] NicolasGuilloux commented on #111
Hi @jeanlucc,
I'm not sure that it will be set before any DB manipulation as the `boot` function may be called after another `boot` function from another bundle.
This is why I used the `TestConnectionFactory` which will be called before all call of the `StaticDriver`. As I know that the ConnectionFactory is the only classes that will create the DB connection and therefore use the StaticDriver, I t

[2020-06-11 08:21] jeanlucc commented on #111
Ok thank you for your feedback. I saw that your method was more safe/aggresive. For my use case the configuration seemed enough and I could not think of a use case (because I definitely don't know endless possibilities of Symfony that much) where a service would be instantiated before kernel have finished to boot with all its bundles. I guess if my solution does not work yours cannot fail :)

[2020-06-11 10:05] jeanlucc commented on #111
@NicolasGuilloux After looking into Symfony a bit more I'm convinced boot is not a suitable moment for everyone and "sadly" I did not find any moment between the moment we have the configuration and the moment the container can be used allowing me to execute this bit of code before any service instanciation (except putting it in an overidden boot method but that is not what I want).

So I stole yo

[2020-06-11 10:34] NicolasGuilloux commented on #111
Steal me, go on, it is OpenSource I don't actually own anything :D
You can actually create the PR and make it draft so we can comment it directly from the PR instead of this issue, which is supposed to be closed.

[2020-06-29 20:33] igneus opened #123 "Test database instructions"
Hi, I've been trying to make the bundle's test suite work and having some difficulties.

`$ composer install` went OK

`$ vendor/bin/phpunit` complained about a missing file `parameters.yml`, through trial and error I found that it should be placed in the `Tests/Functional` directory and that there's provided a template `parameters.yml.dist`.
I created a MySQL database, set connection details in `

[2020-06-29 20:36] dmaicher commented on #123
Can you try running `make test`?

See https://github.com/dmaicher/doctrine-test-bundle/blob/master/makefile#L8

[2020-06-29 20:59] igneus commented on #123
Thank you very much, I confirm that `make test` or `vendor/bin/phpunit --config tests/phpunit.xml` both work like a charm.

[2020-06-29 20:59] #123 closed

[2020-09-01 20:26] quentin389 opened #126 "Bundle reuses the same connection for two different underlying connections."
Doctrine Test Bundle incorrectly reuses the same "Static Connection" for two different Symfony/Doctrine connections, which leads to incorrect savepoint management, and can result in "SAVEPOINT DOCTRINE2_SAVEPOINT_2 does not exist" error that is not related to implicit transaction commit.

possible source of the problem: https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/Doctrine

[2020-09-02 07:12] dmaicher commented on #126
Thanks for the detailed description :+1:

I confirm that this case would result in the same static connection used by the bundle.

Because of how the "unique key" for the connection is created here:

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/StaticDriver.php#L48

Let me think about it

[2020-09-03 17:26] dmaicher commented on #126
@quentin389 can you confirm that this fixes your issue?

https://github.com/dmaicher/doctrine-test-bundle/pull/127

[2020-09-03 22:42] quentin389 commented on #126
Yes, it does.

[2020-09-04 05:50] #126 closed

[2020-09-21 10:03] garak opened #129 "Doctrine\DBAL\Driver\ExceptionConverterDriver is deprecated"
After upgrading to doctrine/dbal 2.11:

[2020-09-22 17:45] dmaicher commented on #129
I don't see a way to fix this in a forward compatible way :confused: We can fix it here for doctrine/dbal 3 and not implement that interface anymore.

Checked https://github.com/doctrine/dbal/pull/4118 and https://github.com/doctrine/dbal/pull/4129/files

Or do you see a way to get rid of the deprecation already?

[2020-09-23 06:18] garak commented on #129
Can't we just stop implementing ExceptionConverterDriver?

[2020-09-23 06:50] dmaicher commented on #129
Well that will probably have side effects? See https://github.com/doctrine/dbal/blob/2.11.x/lib/Doctrine/DBAL/DBALException.php#L181

[2020-09-23 07:24] garak commented on #129
Do you think? I see that exception is converted with the old interface, otherwise is re-thrown as generic Exception. Is that so different?

[2020-09-23 11:29] dmaicher commented on #129
I think it would be bad as the test environment would behave differently than dev/prod environments if the underlying driver implements `ExceptionConverterDriver`.

For example I'm mostly using `Doctrine\DBAL\Driver\PDOMySql\Driver` which will throw specific exceptions. So in my app I also handle those specific exceptions in some cases. For example `UniqueConstraintViolationException`.

If now in

[2020-09-23 11:50] dmaicher commented on #129
I quickly confirmed it with a functional test:

This works without any changes:
[code]

and it fails when `StaticDriver` does not implement `ExceptionConverterDriver` anymore:

[code]

[2020-09-23 12:27] garak commented on #129
I see.
I guess we should keep it as is for now.
I would keep this issue open as well, just as a reminder.

[2020-09-26 14:02] ahmed-bhs commented on #82
Just make sure you add then bundle to test and dev environments:     DAMA\DoctrineTestBundle\DAMADoctrineTestBundle::class => ['dev' => true, 'test' => true],

[2020-10-13 14:57] mlazze opened #131 "[Sqlite] PRAGMA settings are not persisted"
Hello,

i have the following testcase

[code]

For some reason if `enable_static_connection` is true, this fails, but if `enable_static_connection` is false, this succeeds.

[2020-10-13 16:28] dmaicher commented on #131
See https://www.sqlite.org/pragma.html#pragma_foreign_keys

Whenever `enable_static_connection` is enabled it means all test cases are being executed within open database transactions.

If you really need to use this during a test case you might want to try this to bypass the transactional functionalities of this bundle:

[code]

[2020-10-13 16:45] mlazze commented on #131
Thank you! I did not think there was an issue with setting pragma within transaction. As always RTFM applies 😁

I'm actually setting the PRAGMA in a doctrine postConnect listener, I'll try and come up with something which doesn't interfere with the rollback process. Thank you

[2020-10-13 16:45] #131 closed

[2020-11-02 15:03] oenie opened #134 "Invalid savepoint specification: 7 ERROR: no such savepoint"
Hi,

I introduced this poackage into our Symfony application while migrating to Symfony 4.
Everything has been running fine, but right now I'm running into a peculiar problem.

I am simply trying to inject an existing dependency into another class through constructor injection.
This has been done in another class before (so it's not as if the class in question is new)

However, when I inject it in

[2020-11-02 15:12] oenie commented on #134
If i remove the dependency injection from the class altogether, everything works fine, and only savepoints that have previously been created are released:

    SET NAMES 'UTF8'
    SET NAMES 'UTF8'
    SAVEPOINT DOCTRINE2_SAVEPOINT_2
    SAVEPOINT DOCTRINE2_SAVEPOINT_3
    RELEASE SAVEPOINT DOCTRINE2_SAVEPOINT_3
    SAVEPOINT DOCTRINE2_SAVEPOINT_3
    RELEASE SAVEPOINT DOCTRINE2_SAVEPOINT_3
    RO

[2020-11-02 15:16] dmaicher commented on #134
Can you provide me with a bit more details?

- can I see a full stack trace of the exception?
- which queries are run exactly during that failing test case?

[2020-11-02 15:42] oenie commented on #134
Well, the thing is that just ALL of our test fail when I introduce the dependency:

Query causing the failure: RELEASE SAVEPOINT DOCTRINE2_SAVEPOINT_2

Doctrine\DBAL\Driver\PDOException: SQLSTATE[3B001]: Invalid savepoint specification: 7 ERROR:  no such savepoint

/srv/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php:54
/srv/vendor/dama/doctrine-test-bundle/src/DAMA/DoctrineTestBun

[2020-11-02 15:44] oenie commented on #134
As mentioned before, whenever I don't add the dependency to our constructor, a **SAVEPOINT DOCTRINE2_SAVEPOINT_2** is run at the point of **self::$em->beginTransaction()**

If I add the dependency that SAVEPOINT is never set, but is is tried to release it through **RELEASE SAVEPOINT DOCTRINE2_SAVEPOINT_2**

[2020-11-02 18:28] dmaicher commented on #134
wondering why you need this?

[code]

I mean that's what this bundle will take care of? It will roll-back any changes after a test.

Not quite sure yet what causes your problem. I would need some way of reproducing that issue :confused:

[2020-11-02 18:34] oenie commented on #134
OK, I've been looking into our own code. Not sure why all of this is happening either.
At first glance it looks like it is located there, although nothing has changed.
I suppose this is a non-issue in this module. If I happen to find the exact reason I'll get back.

[2020-11-02 18:55] dmaicher commented on #134
Closing for now. We can re-open if there is some way of reproducing it

[2020-11-02 18:55] #134 closed

[2020-11-10 12:27] Pierstoval commented on #129
Why not create a different `PHPUnitExtension` class for latest DBAL versions?

One would use a `StaticDriver` that implementst the interface, and the new one would implement another `StaticDriver` without the interface.

Makes sure that using the interface is opt-out, it's backwards-compatible, and when Doctrine DBAL removes the class, migration path is quicker, since the legacy interface might th

[2020-11-10 12:34] dmaicher commented on #129
@Pierstoval yes for DBAL 3 we will need a `StaticDriver` that does not implement the interface anymore.

But for dbal `2.11+, < 3` we still need to implement the deprecated interface :confused:

[2020-11-10 12:42] Pierstoval commented on #129
Let's wait until DBAL 3 release then 👍

[2020-11-16 08:03] dmaicher opened #135 "add doctrine/dbal 3 compatibility"
`doctrine/dbal` 3 was released yesterday. So we should make sure this bundle is compatible with it.

Related issue that we need to tackle for it as well: https://github.com/dmaicher/doctrine-test-bundle/issues/129

I will try to look into this asap.

[2020-12-03 15:43] NicoHaase opened #137 "Failing Behat test does not lead to rollback?"
In one of our behat testsuites, we test for JSON responses using `behatch/contexts` (currently using v3.3.0). In their [JsonContext](https://github.com/Behatch/contexts/blob/master/src/Context/JsonContext.php), they throw a generic `Exception` on a failing test. This does not trigger `\DAMA\DoctrineTestBundle\Behat\BehatListener::rollBack`, leaving the database in a manipulated state. Is this expe

[2020-12-03 16:28] dmaicher commented on #137
ping @wouterj any idea?

[2020-12-11 17:23] franck-grenier commented on #129
Hello,
I'm having the same deprecation error and I cannot have my data reset on each test.

Does it make transactions rollback fail ?

[2020-12-11 21:24] dmaicher commented on #129
No. Its just a deprecation. You can safely ignore it.

[2020-12-12 16:34] #135 closed

[2020-12-12 16:37] dmaicher commented on #129
Compatibility with dbal 3 is merged & released. As I don't see any way of fixing this for dbal 2.x (unless there is some forward compatibility layer on dbal 2.x for it) I will close here.

[2020-12-12 16:37] #129 closed

[2020-12-12 20:08] bnymn opened #138 "SQLite exceptions are not thrown"
Hello,

I am using sqlite for my tests. It seems like unique constraint exception is not thrown. I see that you are using mysql drive on your tests. Do you also support sqlite?

[2020-12-12 20:25] dmaicher commented on #138
Yes Sqlite is also supported. Its used on the symfony demo for example with this bundle.

Also I just ran the tests of this bundle using sqlite - passes without any problems.

So can you be a bit more specific? What exactly does not work?

[2020-12-12 20:40] bnymn commented on #138
I am preparing a test case, will inform you soon.

[2020-12-12 20:53] bnymn commented on #138
It is working just fine :). Thank you for the awesome work! I think for some reason my migrations are not updated.

[2020-12-12 20:53] #138 closed

[2020-12-16 16:47] kbond opened #139 "StaticDriver now @internal"
Hey @dmaicher - first of all, I love this bundle, great work!

I see in v6.5.0 you marked the `StaticDriver` as `@internal`. I'm wondering if we could have a discussion about that. A [library](https://github.com/zenstruck/foundry) I maintain has an option to use this bundle and I use the static driver (specifically `isKeepStaticConnections`) to determine if it is enabled and change behaviour based

[2020-12-16 17:39] dmaicher commented on #139
The `StaticDriver` class should not be `@internal` indeed.

I marked the abstract classes to achieve compat with doctrine/dbal v2 and v3 as internal:

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/AbstractStaticDriver.php#L11

https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/AbstractStati

[2020-12-16 18:11] kbond commented on #139
Ok, I suspected that might have been what your intention was. My IDE doesn't flag it as internal but my static analysis tool (psalm) does. I'm happy with this understanding.

Thanks for clarifying!

[2020-12-16 18:11] #139 closed

[2020-12-16 21:52] fkoyer opened #143 "Missing file PHPUnitExtension.php"
Hi,

I installed with `composer require --dev dama/doctrine-test-bundle` but I seem to be missing this file:

    src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitExtension.php

I have PHPUnitListener.php but not PHPUnitExtension.php. What am I doing wrong?

Composer 2.0.8
PHPUnit 8.3.5
PHP 7.3.21

Thanks
Kent

[2020-12-16 22:01] dmaicher commented on #143
Which version of the bundle was installed?

[code]

[2020-12-16 22:24] wouterj commented on #137
Hi!

I cannot reproduce this locally unfortunately. See 26d6b11 for what I tried (throwing a generic `Exception` and then checking if `rollBack` is called using the good old `var_dump`).

[2020-12-16 22:50] fkoyer commented on #143
Looks like version 4.0.2

[code]

[2020-12-16 22:52] fkoyer commented on #143
My app is using Symfony 3.4 so could that be the issue?

[2020-12-16 23:01] dmaicher commented on #143
Ok that version is quite outdated and not maintained anymore.

Maybe check with `composer why-not dama/doctrine-test-bundle ^6.5` why no newer version is installed.

[2020-12-16 23:01] #143 closed

[2020-12-16 23:35] fkoyer commented on #143
Thanks for your help. Seems to be a problem with my doctrine version. I will work it out.

[code]

[2020-12-17 08:09] NicoHaase commented on #137
Pretty strange. Two weeks ago, I could reproduce that nearly(!) each call. Now I'm no longer able to reproduce it, and I cannot see any configuration changes on our side that could have helped to resolve the issue :(

[2020-12-17 08:24] dmaicher commented on #137
Thanks a lot for checking @wouterj :+1:

@NicoHaase closing here for now. Please re-open if there is something reproducible that we can look into.

[2020-12-17 08:24] #137 closed

[2021-01-13 21:32] smilesrg opened #144 "Deprecation notices"
[code]

[2021-01-13 23:29] dmaicher commented on #144
https://github.com/dmaicher/doctrine-test-bundle/issues/129

[2021-01-13 23:29] #144 closed

[2021-01-15 09:50] JeremyPasco opened #145 "Working with E2E tests"
Hi, I've been trying to use this project for E2E tests (using Panther and/or Selenium) but I seems to have no effect.
I think that makes sense since I have :
- one instance of my app project running (starting it manually)
- a phpunit test suit driving my browser to request the previous instance

So managing transactions from the phpunit process would have no impact on the app process I guess?

I'v

[2021-01-15 09:55] dmaicher commented on #145
Yeah this bundle does not work for e2e tests that go through a webserver. This bundle **only works for tests within the same PHP process** as it keeps DBAL connections as static objects inside the `StaticDriver`.

This is also noted in the Readme for Behat tests:

[2021-01-15 10:12] dmaicher commented on #145
I don't see any way of making this work without implementing some connection pool mechanism that would ensure the PHP process spawned via the webserver/php-fpm would re-use existing connections that could be rolled-back then after a test.

[2021-01-15 10:12] #145 closed

[2021-01-15 10:17] JeremyPasco commented on #145
Ok thanks a lot for your quick answer!

[2021-02-05 08:44] dmaicher opened #146 "Drop Symfony 3.4 support"
- check what can be simplified in the code. For example https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/DependencyInjection/Configuration.php#L21
- adjust composer.json
- cleanup travis config

[2021-02-17 10:28] christian-kolb opened #149 "Error: Active transaction after code changes"
When running `phpunit` after I did changes in my code I get the following error:

[code]

It fails at:
[code]

When I run it again it works as usual. Without the bundle I never run into this issue. It's possible that there is something in my code which leads to the problem but I don't really know how I would start debugging it. Did anyone else run into the same issue when using this bundle?

Any i

[2021-02-23 15:10] dmaicher commented on #149
Can you debug the exact queries being executed on the connection during this test? Should be possible to get the Doctrine DBAL logs somehow

[2021-02-23 15:29] christian-kolb commented on #149
@dmaicher Good idea, I will test it within the next days and update this issue.

[2021-03-12 10:44] dmaicher commented on #149
Closing for now. Let me know if this is still an issue and you have some more input on this.

[2021-03-12 10:44] #149 closed

[2021-03-12 10:45] christian-kolb commented on #149
Sorry, I haven't been able to work on it. But I will reply as soon as I'm able to.

[2021-03-22 05:36] kevintoshi0208 opened #150 "How to use the same transaction in different test cases in the same class?"
How to use the same transaction in different test cases in the same class?

Here is the sample:

[code]

Is it the only way I put them in the same test function?

It is a big trouble  convert to use this bundle.

[code]

Is there any way to start the transaction before the class and rollback after the class ?

[2021-03-22 17:10] dmaicher commented on #150
Yeah refactoring such tests can indeed be quite some work. I see that point.

However this bundle was not designed to support such use-cases. So out-of-the box there is no easy way.

What you could try:
- don't use `DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension`
- somehow manage how transactions from this bundle are handled in your test classes with `setUpBeforeClass()` and `tearDownAfterClass(

[2021-03-22 17:10] #150 closed

[2021-03-24 03:22] tarach opened #151 "Using @depends - Transaction for 2 methods"
Hi, Great package btw.

Does this package allow to reuse the code using @depends annotation?
For example.

I test resource **POST /api/posts** this test return an id of newly created post than I reuse it in test that checks the update endpoint.

[code]

[2021-03-24 09:44] dmaicher commented on #151
No this is currently not supported. This bundle really aims to have all tests independent of each other when it comes to the database state.

I do see that this might be useful in some scenarios. If this would be possible to implement it would need to be configurable (by default inactive) though as it might break existing tests for other users of this bundle that have `@depends` annotations becaus

[2021-04-12 15:20] AurelienConte opened #152 "[HOW TO] I want to edit an entity after event (on flush) and validate it"
I know this is the normal behavior but in some of my tests i want to check an entity updated.

For example i have an Entity update after the onFlush event of doctrine. (See event bellow)

[code]

On this Event i have a function where i want to remove the child of the parent if the child is set "DISABLED"

[code]

And i want to test it like :

[code]

But when i'm retrieving the parent via the repo

[2021-04-12 15:45] dmaicher commented on #152
I fail to see how this issue is related to this bundle? Your test will behave the same way if the bundle is not enabled, or?

[2021-04-13 12:48] #152 closed

[2021-04-19 15:11] dFayet opened #153 "Better detection of doctrine/dbal installed version"
In the [StaticDriver](https://github.com/dmaicher/doctrine-test-bundle/blob/8c8eac0271e533551ee5bffc9d04d192dad19fe3/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/StaticDriver.php) the detection of the doctrine/dbal version is based only on the existence of an interface,

This is not a 100% exact science as class aliases could break this detection.

Even if we can arguably say this is the problem of t

[2021-04-26 11:50] dmaicher commented on #153
Indeed I would also argue that this is an issue of `getsentry/sentry-symfony` :confused:

Any idea how we could make it more robust?

[2021-04-29 20:34] #146 closed

[2021-05-06 08:55] Nicals opened #155 "Warn when no support for transactions"
I was trying to use this bundle with a MySQL database with MyISAM engine on all tables. This engine does not support transactions.

We should warn the users when trying to use this bundle on a database that does not support transactions.

[2021-05-17 22:10] ktom opened #156 "Cannot use outside symfony"
Hello,

I discovered this bundle while looking into best practices around testing with a db and fixtures, but the package in which i would like to use it does not use symfony and I would like to avoid the dependency.

Would you consider opening a new repo with the main classes in it (i guess Behat, Doctrine and PhpUnit folders) and requiring this new package here ?

I'd gladly help on the work if

[2021-05-18 09:34] franzwilding opened #157 "[Bug] $entityManager->getReference() results in "Undefined index: 000000004fc9e3630000000009549173" error"
Hey!

When using $entityManager->getReference() instead of $entityManager->getRepository()->find() inside a service to get an entity, doctrine will throw an error when using this entity as a reference. This is because the phpunit test have a different instance of the entity manager as the service which results into different sets of cached references (if I understand the problem correctly).

Writi

[2021-05-18 12:34] dmaicher commented on #157
Can you explain how this is related to this bundle? This bundle does not deal with the ORM layer of Doctrine at all. It just deals with the DBAL layer and connections.

[2021-05-18 12:37] dmaicher commented on #156
I personally don't really want to maintain 2 packages as I don't need this outside of Symfony apps.

Could you maybe explain how you would use this without Symfony or DoctrineBundle? A lot in this bundle is based on integrating this as a Symfony bundle.

For example the connection factory extends the one provided by DoctrineBundle: https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/D

[2021-05-18 12:58] franzwilding commented on #157
@dmaicher The only thing I know is, that when enabling doctrine-test-bundle, the entityManager instance in my service is not the same as in the test, therefore getReference() will return a different entity instance in the two places which results into the entity reference bug. Disabling the bundle (or just setting enable_static_connection to false) will solve the problem (same entityManager instan

[2021-05-18 13:00] ktom commented on #156
Hello,

Thank you for the feedback. I understand the burden on maintenance.
Sorry i didn't notice the dependency between the factory and the one from doctrine bundle.

I'm trying to build a package that could be used outside of symfony projects, but using doctrine for persistence. The idea was to use your tool to improve the testing of this package.

And yes, indeed, i'll need to handle my own con

[2021-05-18 13:08] dmaicher commented on #157
Ok this is interesting...

Are you able to provide a minimal reproducer project?

[2021-05-20 09:03] dmaicher commented on #156
Ok thanks for the context.

I would close this for now. Maybe you can fork this repo and try using it for your project and report back here how it went?

[2021-05-20 09:03] #156 closed

[2021-05-24 18:56] mbabker opened #158 "Incompatible with DoctrineBundle 2.4 + ORM 2.9"
DoctrineBundle 2.4 will drop support for ORM versions before 2.9.  As of DoctrineBundle 2.4, it is only configuring the metadata cache using the PSR-6 typehinted `Doctrine\ORM\Configuration::setMetadataCache()` method.  Since the `DAMA\DoctrineTestBundle\Doctrine\Cache\StaticArrayCache` class doesn't implement the PSR, this causes things to fail over pretty hard.  With Doctrine's cache library [be

[2021-05-24 19:16] dmaicher commented on #158
Indeed. Thanks for reporting this.

I will look into this asap.

[2021-05-24 22:44] pabloelcolombiano opened #159 "Handle DB cleanup with triggers"
Thanks for the great plugin!

I am stuck with the implicit committing matter reported in the troubleshooting section.

Are you aware of any solution/alternative for Symfony?

I have developed a [solution for CakePHP](https://github.com/vierge-noire/cakephp-test-suite-light) based on triggers, rather than transactions. This also presents the advantage that the database is not emptied after the test

[2021-05-25 06:49] garak opened #160 "Error with latest versions of doctrine"
Using doctrine/orm 2.9 and doctrine/doctrine-bundle 2.4-dev, when I try to update schema via command, I get the following error (in Configuration.php line 336):

  led in /myproject/var/cache/test/ContainerBwanHN2/Infrastructure_KernelTestDebugContainer.php on line 7468

Probably related to https://github.com/doctrine/DoctrineBundle/issues/1351

[2021-05-25 07:00] dmaicher commented on #160
See https://github.com/dmaicher/doctrine-test-bundle/issues/158

[2021-05-25 07:00] #160 closed

[2021-05-25 20:18] dmaicher commented on #158
@mbabker would you be able to test https://github.com/dmaicher/doctrine-test-bundle/pull/161 ?

[2021-05-25 20:54] mbabker commented on #158
With that PR everything's working fine for me with the caches re-enabled.

[2021-06-01 17:14] calvera commented on #158
hello, any info when it will be released? thanks

[2021-06-01 18:12] #158 closed

[2021-06-01 18:15] dmaicher commented on #158
Released now: https://github.com/dmaicher/doctrine-test-bundle/releases/tag/v6.6.0

[2021-06-02 12:32] dmaicher commented on #159
So you are running DDL queries during test cases? Maybe you could avoid this somehow?

I don't know any solution that is based on triggers.

I personally do not have the need for something like this but maybe someone else in the community would use it? I guess you could try creating your own library/bundle. I would not extend this bundle with this functionality.

[2021-06-02 12:33] #159 closed

[2021-06-07 08:46] dmaicher commented on #157
In case you can provide a reproducer let me know and I can re-open this

[2021-06-07 08:46] #157 closed

[2021-06-16 09:27] ettoredn opened #163 "Doctrine\DBAL\Driver\ExceptionConverterDriver is deprecated"
1x: The "DAMA\DoctrineTestBundle\Doctrine\DBAL\AbstractStaticDriverV2" class implements "Doctrine\DBAL\Driver\ExceptionConverterDriver" that is deprecated.
    1x in PHPUnitExtension::executeBeforeFirstTest from DAMA\DoctrineTestBundle\PHPUnit

[2021-06-16 11:59] dmaicher commented on #163
https://github.com/dmaicher/doctrine-test-bundle/issues/129

[2021-06-16 11:59] #163 closed

[2021-06-21 09:13] BenMorel commented on #129
@dmaicher Would creating a new release that's only compatible with dbal 3.x be an option? I'll understand if you're not willing to maintain 2 release streams, but this would be the cleanest option IMO.

[2021-06-21 09:15] dmaicher commented on #129
@BenMorel are you still seeing this deprecation when using dbal 3?

[2021-06-21 09:29] BenMorel commented on #129
@dmaicher Sorry, I think I misunderstood the problem. We're using doctrine/dbal 2.13.

I guess this boils down to releasing a version that would be compatible with 2.11+ only? The aim being to have a version that's clear of deprecation warnings.

[2021-06-21 09:37] dmaicher commented on #129
This is impossible. The driver interface is deprecated on dbal 2.x, but there is no replacement as far as I see. So we need to use it on 2.x as otherwise the functionality is broken.

[2021-06-21 09:48] BenMorel commented on #129
Oh right, I see now. They've deprecated the `ExceptionConverterDriver` because the `convertException()` method has been moved to the `Driver` interface. It's really a pity to see no way to remove the deprecation warning that clutters the tests...

Anyway, sorry for the noise!

[2021-07-19 13:22] mamchyts opened #166 "Fatal error: Declaration of DAMA\DoctrineTestBundle\Doctrine\Cache\Psr6StaticArrayCache::getItem must be compatible with Psr\Cache\CacheItemPoolInterface::getItem"
PHP 8
[code]

composer.lock:
[code]

[2021-07-19 20:50] dmaicher commented on #166
Which version of `symfony/cache` are you using?

[2021-07-20 07:42] mamchyts commented on #166
[code]

[2021-07-20 09:37] dmaicher commented on #166
Ok this version should not even be allowed since this bundle so far only supports ^4.4 and ^5.2.

I will look into this at some point once Symfony 6.0 is closer to being released.

[2021-07-20 09:37] #166 closed

[2021-07-20 09:46] mamchyts commented on #166
![ok](https://i.kym-cdn.com/entries/icons/original/000/003/617/OkayGuy.jpg)

[2021-07-21 11:31] dmaicher commented on #157
Any chance of creating a reproducer?

[2021-07-22 10:08] adomej99 opened #167 "Can't seem to be able to make it work."
I found this bundle mentioned in StackOverflow, and it's just what I need, but I can't seem to make it start.

My bundle.php

[code]

My kernel.php
[code]

my composer.json

[code]

What am I doing wrong? I don't get any errors, but my database is not being rolled back. All I get is this:  1x: The "DAMA\DoctrineTestBundle\Doctrine\DBAL\AbstractStaticDriverV2" class implements "Doctrine\DBAL\Driver

[2021-07-22 11:25] rubenrubiob opened #168 "Transaction is started before connections are created"
Hi!

I am trying this bundle within a brand new Symfony project, in its 5.3 version and some customizations that I think are not relevant for this case. However, I am not able to make the bundle work.

I installed the bundle using Symfony Flex and I set up the extension in the `phpunit.xml.dist` file. I use PHPUnit standalone (`phpunit/phpunit`):

[code]

Hooks are actually called, but I think I a

[2021-07-22 20:58] jdelaune commented on #157
Found our issue in the end, looks like we needed the `symfony/proxy-manager-bridge` package after upgrading to Symfony 5.3. So probably not related to this thread after all.

[2021-07-25 16:54] dmaicher commented on #168
Are you able to provide a minimal reproducer that shows a failing test case?

[2021-07-25 16:56] dmaicher commented on #167
Can you provide a minimal reproducer with a failing test case?

[2021-07-26 09:32] rubenrubiob commented on #168
I am trying to reproduce in a brand-new repository, but I am not able to get it to fail, it works well. Therefore, I think it is a problem with the set-up I had in my project. I will look into that to see if I find the issue. I will let you know if I find something weird, but I think the bundle works well 👍

I will close the issue, as it seems it works well.

Sorry for bothering you, and thank you

[2021-07-26 09:32] #168 closed

[2021-07-26 10:31] TheCelavi opened #169 "Release savepoint invoked after flush."
I have this simple code, using ORM to save event, and then querying for it.

However, after flush, release savepoint is invoked, not at the end of the test.

Makes no sense to me, is this the desired behavior?

![image](https://user-images.githubusercontent.com/410738/126974912-3b4cf497-e4ba-4e57-9e2c-5eaa6845953b.png)

![image](https://user-images.githubusercontent.com/410738/126975087-fbd35c09-a

[2021-07-26 10:41] TheCelavi commented on #169
Oh, sorry, my bad - this is fine. So sorry.

[2021-07-26 10:41] #169 closed

[2021-07-28 11:02] redecs opened #170 "Unknow database/table doesn't exist errors"
Hi,

I wanted to use this bundle for testing on a new project with PHP 8, MySQL 8 and Symfony 5.3.
Followed the setup instructions in the Readme (but skipped the outdated instructions, like updating AppKernel.php since, the bundle now into bundles.php and that's handled by Flex).

I encountered the issue with a simple functional test (`WebTestCase`) that checks a URL with a parameter that tries to

[2021-07-28 11:31] dmaicher commented on #170
I am a bit confused how that issue is related to this bundle? You will have the same issue without using this bundle, right?

[2021-07-28 12:44] redecs commented on #170
@dmaicher The setup process, as described in the README, is broken (or incomplete). Since this is a Symfony bundle I would expect it to work after following the instructions but it doesn't. Hence, my issue here (and not with Doctrine Bundle or Flex, since those changes actually encourage best practices).

So, at least a Readme update to mention that managing the test schema is required for this wo

[2021-07-28 12:49] dmaicher commented on #170
This bundle does not manage any database or schema creation. It purely manages wrapping test cases into transactions.

Feel free to suggest a PR updating the docs if that's not clear enough.

[2021-07-28 12:49] #170 closed

[2021-07-28 13:33] redecs commented on #170
Ok, will give it a shot on docs. Thanks!

[2021-07-30 15:19] #167 closed

[2021-09-05 20:10] B-Galati opened #171 "Annotations to opt-out per test class and test method"
Hello !

What do you think about an annotation that can disable the begin transaction/rollback of the phpunit extension ?

At the moment I am running a lot of test that don't require any database query or are just read-only but the extension is still triggered.

Cheers!

[2021-09-06 08:55] dmaicher commented on #171
So out of interest I just benchmarked this.

The test case:

[code]

With the extension (and roll-back) of this bundle enabled:

[code]

And now *without* the extension (and thus roll-back) enabled:

[code]

So wondering: is it worth it? For 100k tests this takes 1s on my laptop. Maybe you could also benchmark this?

[2021-09-06 09:11] dmaicher commented on #171
Actually the test above was not valid since no DB connection was ever created. Will have a look at a proper benchmark later today

[2021-09-06 09:51] dmaicher commented on #171
Ok here a proper benchmark now with 2 tests where the first one actually creates a DB connection and makes sure the roll-back logic kicks in:

[code]
[code]

Now it looks a bit different:

With extension: `Time: 00:23.036, Memory: 353.52 MB`
Without extension: `Time: 00:11.041, Memory: 353.52 MB`

So the performance penalty for 100k tests is roughly 10s.

[2021-09-06 10:35] B-Galati commented on #171
Thank you so much for these!

Indeed that does not look to worth the effort. I will do some benchmarks on my side too 👍

[2021-09-07 08:44] B-Galati commented on #171
I did the same benchmark and I have 40 to 45 seconds of penalty for 100k tests.

Don't know why we have so much difference.

Anyway, it still does not worth the effort to my eyes.

Feel free to close the issue or not :+1:

[2021-09-07 08:47] dmaicher commented on #171
Ok thanks :+1: I'm closing this for now as I also don't think its worth the effort for now.

[2021-09-07 08:47] #171 closed

[2021-09-10 07:41] #153 closed

[2021-09-18 04:24] williarin opened #174 "StaticArrayCache return type breaks tests"
https://github.com/dmaicher/doctrine-test-bundle/blob/919a91b85629c28baab7e20faae553ad43799ba7/src/DAMA/DoctrineTestBundle/Doctrine/Cache/StaticArrayCache.php#L14

This newly added return type breaks the tests.

[code]

[2021-09-18 07:30] #174 closed

[2021-09-18 07:31] dmaicher commented on #174
Indeed :man_facepalming: Thanks for reporting. Fixed in https://github.com/dmaicher/doctrine-test-bundle/pull/175

[2021-09-22 10:40] AntonioCS commented on #151
@dmaicher here is a 👍 for this feature as I'm creating API tests.
I have a test where I create something and then a test where I patch that something I created (using `@depends`) but since the DB is "cleared" between tests the `@depends` is useless..
There should be something I can add to the code (maybe a flag or something) that would commit all that I did on the test.

[2021-09-22 11:38] NicoHaase commented on #151
Why not simply call the other test function first? Why not refactor your tests to have a single method that inserts the data, and call this method from both test cases?

[2021-09-22 11:40] AntonioCS commented on #151
@NicoHaase why not just use something that is available in phpunit called `@depends`?
There are many ways to achieve this, I just gave an example.

[2021-09-22 12:07] NicoHaase commented on #151
Because that is not supported by this bundle, and I wanted to show you a way to circumvent this

[2021-09-22 13:04] AntonioCS commented on #151
@NicoHaase I know it's not supported but I just wanted to show support for @tarach and his use case because I'm suffering from the same issue.

[2021-10-04 09:48] BenMorel opened #176 "Issue with doctrine/orm 2.10"
Hi,

When trying to upgrade to Doctrine ORM 2.10, I'm getting the following error:

Could you please provide compatibility with this library version? Thanks in advance!

[2021-10-04 11:59] dmaicher commented on #176
Which version of DoctrineBundle are you using? It works fine for me with `v6.6.0` of this bundle and

[code]

[2021-10-04 12:28] BenMorel commented on #176
Hi, thanks for your reply. I'm using `doctrine-bundle: 2.4.3` just like you (not sure where `v6.6.0` is coming from?):

[code]

[2021-10-04 12:37] dmaicher commented on #176
And you are using v6.6.0 of `dama/doctrine-test-bundle` (this bundle)?

[2021-10-04 12:53] #176 closed

[2021-10-04 14:09] BenMorel commented on #151
Add additional +1 from me, it would be nice to be able to configure the bundle to keep the transaction open between two tests when one `@depends` on the other.

[2021-11-01 11:37] dmaicher opened #180 "Migrate build from travis to github actions"

[2021-11-02 17:36] dmaicher commented on #180
Done in https://github.com/dmaicher/doctrine-test-bundle/pull/181

[2021-11-02 17:36] #180 closed

[2021-11-05 16:29] bastien70 opened #182 "Trait or annotation to disable DAMA in some files"
Hello, I am using DAMA for my tests.

This is useful for some tests, but not for End to End tests, since it does not support it.

But it gives me bugs because DAMA still manages to rollback certain transactions in the middle of my EndToEnd tests (those requiring that I initialize a record in the database. DAMA rollback directly)

It would be nice to have a trait or something that allows us to say

[2021-11-08 15:29] dmaicher commented on #182
Feel free to look into it :+1:

A workaround might be something like this (not tested):

[code]

[2021-11-08 15:59] bastien70 commented on #182
It seems to work ! Thank you very much !

[2021-11-11 08:01] pouya-amani-cxt opened #185 "PHPUnit\Framework\TestListener that is deprecated"
I upgraded did upgrade on PHP -> 8.0 and packages as well. and got these errors:

`The "DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" class implements "PHPUnit\Framework\TestListener" that is deprecated Use the `TestHook` interfaces instead.`

`The "DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" class uses "PHPUnit\Framework\TestListenerDefaultImplementation" that is deprecated The `TestListe

[2021-11-11 08:07] dmaicher commented on #185
Which version of PHPUnit are you using? Please check the readme. You probably just need to use the extension instead of the listener.

[2021-11-11 08:07] #185 closed

[2021-11-11 08:17] pouya-amani-cxt commented on #185
I am using: PHP 8.0.12 (cli) (built: Oct 21 2021 15:52:54) ( NTS )

[2021-12-20 11:59] Jean85 commented on #168
I stumbled on this, or something similar. I've found that the issue was that the container was inadvertently triggered very early, nested in a data provider, trying to get the EntityManager, which would spawn the connections too early, before the transaction started. This would result in stuff being flushed to DB.

[2021-12-23 20:06] B-Galati opened #187 "Disable static connection but keep transactional behavior"
Hello!

Would it possible to disable static connection but still leverage the transactional behavior?

That may be not easy as it is certainly a BC-break of the behavior of `StaticDriver`.

My scenario is that I am changing the connection parameters just before running a test; so at runtime so the connection is not really changed behind the scene.

Cheers!

[2021-12-23 20:17] B-Galati commented on #187
My current workaround is to call this kind of code in a PHPUnit hook:

[code]

[2021-12-27 08:18] bastien70 opened #188 "Depreciation to fix"
Hello, when launching my tests from Symfony 5.4 (PHP 8.0) app, I've a depreciation :

[code]

[2021-12-27 10:44] dmaicher commented on #188
Yes I also noticed this deprecation on one of my projects. Unfortunately I don't think there is a way to fix this deprecation.

@morozov maybe you have an idea? I saw you deprecated that interface [here](https://github.com/doctrine/dbal/commit/7b2a322811b057180f7972a33d5785fd9745ebbe).

[2021-12-27 17:45] morozov commented on #188
@dmaicher what exactly is the problem?

[2021-12-28 10:56] dmaicher commented on #188
@morozov this bundle comes with a [driver](https://github.com/dmaicher/doctrine-test-bundle/blob/master/src/DAMA/DoctrineTestBundle/Doctrine/DBAL/AbstractStaticDriver.php#L13) that currently implements `Doctrine\DBAL\VersionAwarePlatformDriver`. Now that this interface is deprecated: Is there a way to stop implementing this interface and get rid of the reported deprecation? I guess not.

[2021-12-28 16:14] morozov commented on #188
Right, you have to implement this interface.

[2021-12-28 16:16] bastien70 commented on #188
Does it mean that it will be impossible to update this bundle for Symfony 6 ?

[2021-12-28 16:21] dmaicher commented on #188
No. The deprecation is coming from `doctrine/dbal`. This bundle is compatible with Symfony 6.

[2021-12-28 16:21] dmaicher commented on #188
Closing as there is nothing we can do here to get rid of the deprecation.

[2021-12-28 16:21] #188 closed

[2021-12-28 16:24] dmaicher commented on #187
Hm that is quite a special case I guess. How exactly are you changing the connection parameters and why?

[2021-12-29 20:44] dmaicher commented on #187
@B-Galati does this fix your issue by any chance?

https://github.com/dmaicher/doctrine-test-bundle/pull/189

[2021-12-30 06:47] B-Galati commented on #187
@dmaicher yes it does! I had the same use case than @julienfalque ;-)

That's amazing! Thank you very much.

I still think that another parameter to differentiate static connection from transactional would be more accurate in terms of semantic. But not sure it's useful :+1:

[2021-12-30 06:47] #187 closed

[2022-01-05 01:56] easy-death commented on #168
I got this error when accidentally added both listener and extension to `phpunit.xml.dist`. This caused rollback to call twice.

[2022-01-11 11:51] KDederichs opened #190 "SAVEPOINT can only be used in transaction blocks"
Hey,

I'm trying to use this to speed up my tests and the first test class runs pretty well.
The problem is once it gets to the next one it's throwing me this:

[code]
I'm using the `liip/test-fixtures-bundle` in version `2.2.1` and I'm currently loading my fixtures in `setUpBeforeClass` like this:

[code]

I added the commit cause I'll get the `There is already an active transaction` thing otherw

[2022-01-11 11:53] dmaicher commented on #190
Is the code from `liip/test-fixtures-bundle` doing any DDL queries? such as DROP/ALTER/CREATE table? (those cannot be executed within transactions with most RDBMS)

[2022-01-11 12:28] KDederichs commented on #190
Doesn't seem like it no.
Upon further debugging it seems it's caused by the actual fixture loading part of the code as well on this part:
[code]

which passes it to this:
[code]
(https://github.com/doctrine/data-fixtures/blob/1e08b4d76c54c0d85ee8ea28ecb1fd8cc33bc7f7/lib/Doctrine/Common/DataFixtures/Executor/ORMExecutor.php#L65)

So I guess it's actually the Doctrine Datafixtures that's the issue

[2022-01-11 12:57] KDederichs commented on #190
It's also worth mentioning that all tests run perfectly fine on their own. It's just a problem when you run the whole suit for some reason and it switches between test classes....

[code]
Also here's a stack trace if that helps

[2022-01-11 13:46] KDederichs commented on #190
Seems like it works when you explicitly Wrap it in
StaticDriver::beginTransaction();
/// Load fixtures
StaticDriver::commit();

strange, well closing this since it seems to fix the issue

[2022-01-11 13:46] #190 closed

[2022-01-13 04:09] thrillfall commented on #155
Would have saved me from tediously debugging perfectly working transaction handling

[2022-01-17 18:45] ossinkine opened #191 "Connection created twice if listeners depend on repositories"
After updating my project from Symfony 4.4 to 5.4 tests began fail. I've looked deep into the issue and discovered that after [this feature](https://github.com/symfony/symfony/pull/39978) was introduced the subscribers (Doctrine listeneres) initialize after `addEventListener` call, and if the subscriber depends on Doctrine services (such a repository) the connection creation called twice. Here is

[2022-01-17 19:25] dmaicher commented on #191
Hm I don't see how this can be related to this bundle. Do you have the same issue without using this bundle?

[2022-01-17 20:25] ossinkine commented on #191
Yes, without this bundle works good, because default connection factory used. In the stacktrace you can see that second initialization starts in StaticConnectionFactory.

I've removed repository as dependency from listener as workaroud but maybe there is a prettier solution.

[2022-01-18 09:15] dmaicher commented on #191
@ossinkine ah ok. Now I get it. I misread the stacktrace.

I will have a look later today if there is something we can change here

[2022-01-18 09:34] netiul opened #192 "getWrappedConnection in doctrine dbal is now deprecated"
The getWrappedConnection method is deprecated since 3.3.0 of the [doctrine\dbal](https://github.com/doctrine/dbal/blob/3.3.0/UPGRADE.md).

# Concerning upgrade instructions

## Add `Connection::getNativeConnection()`

Driver and middleware connections need to implement a new method `getNativeConnection()` that gives access to the
native database connection. Not doing so is deprecated.

## Deprecat

[2022-01-18 11:32] netiul commented on #192
I do. I'll create a PR

[2022-01-18 13:13] dmaicher commented on #191
So I had a deeper look and the only solution I currently see is to create a custom `EventManager` that decorates the existing event manager and is lazy in registering the `PostConnectEventListener` until the event is actually dispatched.

But this seems rather complex and also would break things for people that expect the event manager to be an instance of `Symfony\Bridge\Doctrine\ContainerAwareEv

[2022-01-18 13:22] dmaicher commented on #191
Or actually we could maybe register the `PostConnectEventListener` using DI on the `Symfony\Bridge\Doctrine\ContainerAwareEventManager` directly :thinking: Will have another look

[2022-01-18 14:01] dmaicher commented on #191
@ossinkine could you try this by any chance?

https://github.com/dmaicher/doctrine-test-bundle/compare/fix-issue-191

[2022-01-18 15:39] ossinkine commented on #191
Your fix is looking good and working for me 👍

[2022-01-19 09:27] dmaicher commented on #182
I also recently had a use-case for this on one of my apps. I looked into it a bit and with the current PHPUnit Extensions this seems rather complicated to achieve as we don't have access to much in the Hooks.

I would wait for the [new PHPUnit 10 event system](https://github.com/sebastianbergmann/phpunit/issues/4676) to achieve this.

[2022-01-19 09:33] bastien70 commented on #182
Awesome ! I can not wait to see it. I was a bit disturbed because with your fallback method we get a warning on each of the tests, because the **AbstractStaticDriver** is supposed to be internal

[2022-01-20 12:52] hsveron opened #195 "Doctrine\DBAL\VersionAwarePlatformDriver is deprecated"
Hello.
Use v6.7.3 and get:
[code]

[2022-01-20 14:02] dmaicher commented on #195
See https://github.com/dmaicher/doctrine-test-bundle/issues/188

[2022-01-20 14:02] #195 closed

[2022-01-26 09:47] bobvandevijver opened #196 "Combining Sentry with this bundle breaks test when data is inserted"
Follow-up from #194.

It appears that using Sentry in combination with this bundle, the tests break when new data is inserted into the database, with the cryptic (probably PDO) error "There is no active transaction". Disabling Sentry in the test environment solves the issue for us.

It seemed the following caused the transaction to trigger:

[code]

[2022-01-26 12:37] dmaicher commented on #196
Unfortunately I cannot reproduce it. I tried installing https://github.com/getsentry/sentry-symfony on one of my apps. Tests are passing fine.

In case you can provide a minimal reproducer please let me know. Until then I will close here for now.

[2022-01-26 14:37] Marmelatze commented on #196
Same error for me with 6.7.3 in `PostConnectEventListener` the `$connection->getDriver()` is an instance of `\Sentry\SentryBundle\Tracing\Doctrine\DBAL\TracingDriverForV2`. I'm not sure if this is the problem?

[2022-01-26 14:45] dmaicher commented on #196
Happy to look into it in case you can provide a small reproducer. Might indeed be related to the driver :thinking:

Can maybe be fixed with priorities somehow for decorating the doctrine dbal driver

[2022-01-26 14:46] Marmelatze commented on #196
disabling sentry tracing for the test environment fixed it for me:

[code]

[2022-01-26 15:09] dmaicher commented on #196
Actually this seems hard to fix :confused:

The driver instance is replaced in a rather "hacky" way here:

https://github.com/getsentry/sentry-symfony/blob/master/src/Tracing/Doctrine/DBAL/ConnectionConfigurator.php#L43

With DBAL v3 this will be fine as Sentry is using middlewares then

[2022-01-26 15:11] Marmelatze commented on #196
yes, just noticed when setting up a small project to reproduce, that it works with DBAL 3 :)
Disabling sentry in test env is a suitable workaround (at least for me, as there is no error logging needed usually)

[2022-01-26 15:25] dmaicher commented on #196
I still think that I need to fix this somehow as potentially decorating the driver might still happen in some other cases.

See https://github.com/dmaicher/doctrine-test-bundle/pull/197

Does this fix the issue for you with enabled Sentry tracing @Marmelatze ?

[2022-01-26 15:36] Marmelatze commented on #196
Yes that works for me with enabled tracing.

[2022-01-26 19:38] #196 closed

[2022-01-27 07:20] tsetsee commented on #151
+1

[2022-01-27 10:50] bobvandevijver commented on #196
@dmaicher Thank you for your effort looking into this! Really appreciated 👏🏻

I still disabled Sentry tracing for our test environment (thank you for the suggestion @Marmelatze, I previously just disabled the whole bundle for test, but this has less impact).

[2022-01-31 21:34] ossinkine commented on #191
@dmaicher sad to hear this. Maybe reopen the issue to see the bug still exists?

[2022-02-04 15:45] DigitalTimK commented on #182
That's a feature that would be also useful for me!!!!

[2022-02-08 09:59] Steveb-p opened #201 "Connection hashing fails with "Serialization of 'Closure' is not allowed""
In cases where a custom Platform is provided into Doctrine configuration, Connection hashing will fail due to an attempt to serialize a closure.

This happens because in such a case `$params` argument contains Platform service instance, which in turn contains event listeners that may make use of Service Subscribers (as it is for me).

Normally, if platform option is not specified, it is created by

[2022-02-08 16:00] #201 closed

[2022-02-21 10:27] chriskaya commented on #182
My PR has been rejected by @dmaicher for reasons I totally understand, so instead of relying of a fork which will eventually be out-of-date, I'm now using a custom extension built on top of this package.

If you need this, you may do the same: https://github.com/chriskaya/custom-dama-extension/blob/main/CustomDamaExtension.php

BTW, thx @dmaicher for you work :)

[2022-02-21 10:27] chriskaya commented on #151
My PR has been rejected by @dmaicher for reasons I totally understand, so instead of relying of a fork which will eventually be out-of-date, I'm now using a custom extension built on top of this package.

If you need this, you may do the same: https://github.com/chriskaya/custom-dama-extension/blob/main/CustomDamaExtension.php

BTW, thx @dmaicher for you work :)

[2022-02-25 09:52] maks-rafalko commented on #188
did anyone find a solution on how to silence this error? (Symfony 6, PHP 8.1)

Or is there "official" recommendation on how to avoid it?

[2022-03-08 19:11] pjehan commented on #188
From this StackOverflow thread:
[https://stackoverflow.com/questions/35897550/remove-remaining-deprecation-notices-in-symfony-2-8](https://stackoverflow.com/questions/35897550/remove-remaining-deprecation-notices-in-symfony-2-8)

you can add this lines to the phpunit.xml file:
[code]

[2022-03-09 22:17] vertx-one opened #204 "Support Symfony 6"
I tried to upgrade from symfony 5.4 to symfony 6, on step [https://symfony.com/doc/current/setup/upgrade_major.html#deprecations-in-phpunit](https://symfony.com/doc/current/setup/upgrade_major.html#deprecations-in-phpunit) I got notice
[code]

[2022-03-09 22:47] dmaicher commented on #204
See https://github.com/dmaicher/doctrine-test-bundle/issues/188

[2022-03-09 22:47] #204 closed

[2022-03-12 14:11] maks-rafalko commented on #188
yes, it works for PHPUnit execution.

However, the same deprecation message is displayed for example when you run:

[code]

[2022-03-17 18:49] Tofandel commented on #196
Hmm I'm getting this issue as well, but
[code]

doesn't fix it

I'm also getting several warnings
[code]

Has there been any developement on this that hasn't made it to this thread?

[code]

This is the kind of test that will trigger this error in my case (just fetching data)

[2022-03-18 10:55] dmaicher commented on #196
@Tofandel what is the issue exactly for you? You can some `There is no active transaction` exception?

[2022-03-18 11:19] Tofandel commented on #196
Yes this is the exact same error and if I disable sentry completely it's gone, but just disabling tracing doesn't solve it anymore

[2022-03-18 11:43] dmaicher commented on #196
And you are using `v6.7.5` of this bundle? :thinking:

[2022-03-18 11:44] Tofandel commented on #196
Yes

[code]

[2022-03-18 11:46] dmaicher commented on #196
Can you provide a minimal reproducer?

[2022-03-26 11:59] NafaaAzaiez opened #207 "Remove deprecated interface ExceptionConverterDriver"
Deprecation details:

`
The "DAMA\DoctrineTestBundle\Doctrine\DBAL\AbstractStaticDriverV2" class implements "Doctrine\DBAL\Driver\ExceptionConverterDriver" that is deprecated.
`

[2022-03-27 19:52] dmaicher commented on #207
https://github.com/dmaicher/doctrine-test-bundle/issues/129

[2022-03-27 19:52] #207 closed

[2022-04-20 10:20] patrick-vandy opened #208 "Transaction does not rollback when a client makes multiple requests in a WebTestCase"
After running a composer update (see below), some of my tests started failing. I've narrowed the problem down to a `WebTestCase` creating a client and then making multiple requests (typically when a test is submitting a form). If only a single request is made, the transaction rolls back as expected. To reproduce:

[code]

The above test will pass but the inserted row remains in the `test` table. I

[2022-04-20 11:39] dmaicher commented on #208
Can you create a minimal reproducer repository? I cannot reproduce that issue.

[2022-04-20 12:03] patrick-vandy commented on #208
@dmaicher Sure, I'll see if I can recreate it on a minimal set up when I get some time. It's possible it's something with a 3rd party package or other dependency, as I haven't tried to reproduce outside of the application yet. I'll let you know what I find out.

[2022-04-25 17:04] patrick-vandy commented on #208
@dmaicher I wasn't able to reproduce on a minimal setup with symfony, doctrine, etc. This is happening on a very large project with many dependencies, so I'm suspecting there's an edge case with a specific package being pulled in and I need to isolate which one is the culprit. I'm going to go through all of our packages one by one until I figure out which one it is and I'll get back with you.

[2022-05-02 09:27] dmaicher commented on #208
Closing for now. Let me know if you find a way of reproducing this.

[2022-05-03 14:57] carlos-mg89 commented on #157
I'm experiencing the same issue in a ManyToMany relationship.

I'll try to describe the situation as best a possible.

I have a User class with the following ManyToMany relationship:

[code]

And I'm on Symfony 6.0, Doctrine/DBAL 3.3.6 and doctrine/doctrine-bundle 2.6.3.

And here there are the methods (auto-generated when adding the relationship with `bin/console make:entity` tool:

[code]

Other

[2022-05-03 15:04] dmaicher commented on #157
@carlos-mg89 if you can provide a minimal reproducer repository then I would be happy to look into it

[2022-05-04 06:35] carlos-mg89 commented on #157
Hi again,

It's clearly something unrelated with your library. I've disabled the doctrine-test-bundle, and I'm running only this problematic test, and it's failing anyway. So I need to figure out what's going on.

However, I deeply appreciate your interest, but I don't want to bother you with this matter.

[2022-05-10 07:58] hhamon opened #209 "Impossible to update Doctrine dependencies"
It looks like the latest version of this bundle prevents from upgrading these Doctrine dependencies:

[code]

When trying to upgrade to `doctrine/deprecation:^1.0.0`:

[code]

Same when trying to upgrade `doctrine/persistence:^3.0.2`:

[code]

[2022-05-10 08:07] dmaicher commented on #209
Definitely not an issue with this bundle. It does not even require any specific versions for `doctrine/deprecations` and `doctrine/persistence`.

See https://github.com/dmaicher/doctrine-test-bundle/blob/master/composer.json#L19

What makes you think its an issue here?

[2022-05-10 08:11] hhamon commented on #209
@dmaicher my bad you're right! I've uninstalled the `dama/doctrine-test-bundle` and then tried to update those dependencies. I'm getting the same problem. Looks like the dependencies conflicts comes from another third party bundle. Closing this issue then.

[2022-05-10 08:11] #209 closed

[2022-05-31 16:37] dmaicher opened #211 "Memory leak with new Doctrine DBAL logging middleware"
See https://github.com/doctrine/DoctrineBundle/issues/1525

[2022-06-01 09:16] #211 closed

[2022-06-29 13:18] dmaicher commented on #191
@raziel057 yes indeed :confused: This can be an issue if registering the `PostConnectEventListener` in turn causes other listeners to be instantiated that may have a dependency on a dbal connection themselves.

Now since we dropped support for DBAL 2 maybe there is a way to make patch https://github.com/dmaicher/doctrine-test-bundle/commit/c3ea20eb450e0d5c6a6846c7ae1702ef3052a5fc work without side

[2022-06-30 10:16] dmaicher commented on #191
I think I found a way to resolve this issue :blush: I will create a PR within the next days

[2022-06-30 11:29] raziel057 commented on #191
@dmaicher It would be really nice. Thanks for this.

[2022-07-01 12:00] raziel057 commented on #191
@dmaicher I confirm that it works fine when I apply the branch [fix_issue_191](https://github.com/dmaicher/doctrine-test-bundle/compare/fix_issue_191)

[2022-07-01 12:06] #191 closed

[2022-07-05 12:47] MJTheOne opened #215 "Using both the EntityManager and QueryBuilder gives unexpected results"
I'm having a very weird issue:

In one of my tests I'm revoking a user related token, fetching all the tokens after the revoke and comparing the result to my expectations. This works fine, but my guess is this works fine because the update (revoke) is done with the querybuilder AND the "findAllActiveTokens" is done with the querybuilder.

Now onto my problem:

Same sort of test, revoke a (differen

[2022-07-06 05:47] MJTheOne commented on #215
Well, after losing a few hours of work yesterday trying to wrap my head around what was happening and starting up the next day (today)...

I did as you asked, ran the tests without your extension in the configuration file. Tests passed, re-added your extension... tests passed.

I have now re-run above statement multiple times and I don't have the error anymore. Sorry to have bothered you, but it r

[2022-07-06 05:51] #215 closed

[2022-07-07 14:57] yanarowana123 opened #216 "There is no active transaction"
"There is no active transaction" occurs when trying to flush $manager->flush().

package version [v7.1.1](https://github.com/dmaicher/doctrine-test-bundle/releases/tag/v7.1.1)

doctrine/dbal - 3.3.6

[2022-07-08 07:21] aless673 opened #217 "Not working (no rollback)"
Maybe i am missing something but nothing is rolledback in this simple test

[code]

extension is enabled

[code]

bundle is enabled

[code]

bundle config

[code]

**Rollback is not working, the data is still changed in DB after test finish : `vendor/bin/phpunit --debug tests/TestitTest.php`**

[2022-07-08 07:39] dmaicher commented on #217
Would you be able to provide a reproducer? I cannot reproduce this on any of my projects or on the testsuite of the bundle.

[2022-07-08 07:42] dmaicher commented on #217
Does version 7.1.0 work for you?

[2022-07-08 08:59] dmaicher commented on #217
I currently don't have a local postgresql instance available. Quickly tried sqlite and mysql: works fine.

No not sure if this is related to postgresql :thinking: Will try to find some time and setup a local postgresql with docker

[2022-07-08 08:59] yanarowana123 commented on #216
Found out that problems occurs only when i use doctrine-data-fixtures.

I guess the problem refers to https://www.doctrine-project.org/projects/doctrine-data-fixtures/en/latest/explanation/transactions-and-purging.html.

I am using Mysql 5.7

[2022-07-08 09:04] dmaicher commented on #216
Yeah. Can you try configuring it to use `DELETE` instead of `TRUNCATE`?

[2022-07-08 09:19] dmaicher commented on #217
@aless673 I just tried it with a docker instance of `postgres:latest` and for me this works fine :man_shrugging: on the second test the insert is rolled back.

So for you that second test I added really fails?

[2022-07-08 09:23] yanarowana123 commented on #216
It works now. Thanks!

[2022-07-08 09:23] #216 closed, assigned to nobody

[2022-07-08 10:12] aless673 commented on #217
it works but my database still have the new rows

![image](https://user-images.githubusercontent.com/6001339/177971130-32a31fb1-9a26-4a70-a969-84b6122f3484.png)

am i missing something about how this bundle works ?

This works

[code]

But this doesn't works

[code]

NB: i am using MySQL

[2022-07-08 10:19] dmaicher commented on #217
For me this just works with Mysql:

[code]

[2022-07-08 10:21] aless673 commented on #217
i don't have deprecations, probably the bundle is not active. But why..

[2022-07-08 11:14] dmaicher commented on #217
But tests are running in `test` env?

[code]

[2022-07-08 11:23] aless673 commented on #217
[code]

yes

[2022-07-08 11:25] dmaicher commented on #217
Well then honestly no idea whats happening for you. I cannot reproduce it :cry:

[2022-07-11 07:46] #217 closed

[2022-07-11 08:25] aless673 commented on #208
My scenario

If the PHP test file do DB changes it will be rolledback correctly (ex: `static::getContainer()->get('doctrine')->getConnection()->executeQuery(...)`
If the PHP test file do navigatation (WebTestCase) and while navigating the app do changes in the DB, those changes won't be rolledback

@dmaicher can you confirm that navigation DB changes should be rolledback too ?

[2022-07-11 10:32] dmaicher commented on #208
@aless673  I can confirm that whatever kind of test (KernelTestCase, WebTestCase) and no matter how many requests or queries you perform: they should be rolled back.

If this is not the case for you: please try to create a reproducer as it works fine for me in several projects.

[2022-07-11 13:08] aless673 commented on #208
Here the repo updated with instructions in the README

https://github.com/aless673/test_rollback_doctrine

[2022-07-11 13:43] patrick-vandy commented on #208
@aless673 We are using `6.7` but I misspoke on my last comment. The issue started occurring when I ran a composer update on the entire project and I believe it was upgrading one of the core doctrine packages that made the issue start occurring. Looking at our composer file, we have locked `doctrine/doctrine-bundle` at `2.5.5`, I believe going to `2.6.2` is when it started breaking.

[2022-07-11 14:03] aless673 commented on #208
i tried with many different downgraded versions (doctrine-bundle, doctrine orm and doctrine-test-bundle) and i cannot make it works...

[2022-07-11 18:10] dmaicher commented on #208
@aless673 your reproducer is using Symfony Panther. This will actually run some browser (Chrome?) and interact via the WebDriver protocol, or? Those cases are not supported. It only works for "normal" WebTestCases that run within one php process.

[2022-07-11 18:12] #208 closed

[2022-07-17 16:21] uncaught commented on #66
I've just added your bundle to an older Symfony 4.4 project to add some first tests.

I went strictly by the official [Symfony documentation](https://symfony.com/doc/4.4/testing.html) and it simply does not work because of this issue :(

I already had overwritten `WebTestCase::createClient` and could add a `StaticDriver::setKeepStaticConnections(true);` call in there, but that's not really a good

[2022-07-17 17:31] MalikOvaiz commented on #182
Hi,

I am having problem in using this bundle. Data entry in table does not reset after test suit.

I am using **symfony 5.4** and **phpunit 9.5**(under require-dev).
I have also enabled  **enable_static_connection**, **enable_static_meta_data_cache**, **enable_static_query_cache** in **dama_doctrine_test_bundle.yml**
And also enabled extension in **phpunit.xml.dist**
[code]

In test case I am ins

[2022-07-20 20:53] arderyp opened #218 "Does this work with Symfony Panther?"
https://github.com/symfony/panther

My guess is no, because panther spins up it's owl webdriven client that executes action that doctrine-test-bundle probably doesn't have access to see and roll back.  If there was any way to achieve this, however, that would be amazing.

[2022-07-20 23:43] arderyp opened #219 "allow config to live at config/packages instead of config/packages/test"
I tried to move the config file and manually update `symfony.lock` to point to the proper path, but it went belly up.

as of Symfony 5.4 and 6, the new config standard seems to have replaced the `dev/` `test/` `prod/` sub-directories with more convenient `when@dev` `when@test` `when@prod` properties in a singular config file.

[2022-07-21 06:29] dmaicher commented on #218
Indeed this does not work. We need a single php process to roll-back the DB changes.

[2022-07-21 06:29] #218 closed

[2022-07-21 06:31] dmaicher commented on #219
This should work just fine. See https://github.com/symfony/demo/blob/main/config/packages/dama_doctrine_test_bundle.yaml

[2022-07-21 06:31] #219 closed

[2022-07-21 20:39] arderyp commented on #218
That's what a thought, thanks for the quick response!  The webdriven client's are both a blessing and a curse.

[2022-07-21 20:41] arderyp commented on #219
I'm an idiot, I forgot the `when@test`!  Thank you for the quick response :)

[2022-08-15 21:53] GlucNAc opened #223 "DB is not empty between two test files"
Hello :)

The problem I'm facing is that my DB is not empty when my second test is running. I have tried many things to understand the problem and to make it reproducible.

I'm sure I'm doing something wrong somewhere, but I don't know if it is a matter of setting up Foundry or DAMA, or maybe both.

Let's first talk about the environment :

- PHP-FPM 8.1.9
- Symfony 6.1.2
- PHPunit 8.5.21
- Foundr

[2022-08-19 08:05] dmaicher commented on #223
Does it work without using `Zenstruck\Foundry\Test\ResetDatabase`?

[2022-08-19 08:06] dmaicher commented on #223
Doctrine supports nested transactions via SAVEPOINTs. So this test makes sure rolling back a nested transaction (that is wrapped by some outer transaction of the bundle) works.

[2022-08-19 22:25] GlucNAc commented on #223
Thanks for your answer :)

I have removed Foundry bundle using composer and I have adapted my tests/bootstrap.php file in order to reset the DB and create the table and its field to make the working.

As previously described the first test file is OK but not the second one since it first method.

[2022-08-21 11:43] GlucNAc commented on #223
UPDATE : I have setting up a new SF 6.1 project which reproduces the bug : https://gitlab.com/GlucNAc/dama-bug. Please read README file.

[2022-08-22 07:06] dmaicher commented on #223
Thanks. I will try to find some time and have a look.

[2022-08-26 07:31] dmaicher commented on #223
The last test cases are actually testing that the transactional behavior can be disabled and thus the row will be actually persisted.

Like this the tests all pass:

[code]

I now added a cleanup for this case: https://github.com/dmaicher/doctrine-test-bundle/pull/225

[2022-08-26 07:31] #223 closed

[2022-10-12 14:13] VirginiaPhoenix opened #226 "Not clearing EntityManager"
Hello, I am using DAMA in the Symfony project. Rollbacks work well. But I encountered an error, when using `dataProvider`, entities are not detached. Because of this, I cannot reuse the same data in the same test - they are not saved. If you call `$this->getEntityManager()->clear(`) then everything works. Do not prompt, in what there can be a problem?

my test:
[code]
Thanks!

[2022-10-12 14:42] dmaicher commented on #226
Does this test work without using my bundle? I cannot see how its related. My bundle only deals with the DBAL layer of Doctrine. It does literally nothing at all related to ORM and EntityManagers except caching meta data statically.

[2022-10-12 15:16] VirginiaPhoenix commented on #226
thanks for the answer. I'll try to figure it out myself. I'll write if I can

[2022-10-15 15:46] dmaicher commented on #226
Closing for now

[2022-10-15 15:46] #226 closed

[2022-11-21 10:30] akserikawa opened #233 "Support for PHP sub-processes"
Is there a way to share DB state between PHP main and sub-processes?

Currently, the class I want to test does something like this:

1. Create entity in main process
2. Edit that entity from a PHP sub-process via Symfony/Process component.

I would like to test that the result in DB matches what I expect once both steps finish.

Problem is the sub-process cannot retrieve the entity created in the

[2022-11-21 10:35] dmaicher commented on #233
Also see https://github.com/dmaicher/doctrine-test-bundle/issues/66

Currently this bundle requires everything to be run in the same php process so that the same PDO instance is used and the transaction logic works.

Wondering why you need to edit the entity in a different php process?

[2022-11-21 10:49] dmaicher commented on #233
Yeah as of now this is impossible.

I would maybe instead look into solving those performance issues? Do you run your tests in "no-debug" mode for the Symfony kernel?

Doing this in sub-processes seems very exotic :blush:

[2022-11-21 11:01] akserikawa commented on #233
Sadly I currently don't have an option other than running parallel processes.
Updating thousands of records at once *every minute* and having to serialize each record and publish it to different queues via 3rd party API (each message takes ~140ms) would take more time than it's mandatory.

I agree, exotic solution for a bit exotic use case. And PHP does not help much here either :')

I'm now consi

[2022-11-21 11:02] dmaicher commented on #233
I'll have to clean up all records manually after that.

Yeah then this is the only way currently indeed

[2022-11-21 11:03] dmaicher commented on #233
Closing as its the same issue as https://github.com/dmaicher/doctrine-test-bundle/issues/66

[2022-11-21 11:03] #233 closed

[2022-11-25 09:41] fransweerts opened #235 "Deprecated VersionAwarePlatformStaticDriver class implements VersionAwarePlatformStaticDriver"
Hello,

I have found this deprecated message in my log:

Deprecated: The "DAMA\DoctrineTestBundle\Doctrine\DBAL\VersionAwarePlatformStaticDriver" class implements "Doctrine\DBAL\VersionAwarePlatformDriver" that is deprecated All drivers will have to be aware of the server version in the next major release.

I am using  "doctrine/dbal version 3.5.1" and  "dama/doctrine-test-bundle 7.1.1".

[2022-11-25 09:47] dmaicher commented on #235
Yeah I'm aware of it. I don't think there is any way to fix this deprecation. Its similar to https://github.com/dmaicher/doctrine-test-bundle/issues/129

[2022-11-25 10:00] fransweerts commented on #235
Thank you for the quick response.

 https://github.com/dmaicher/doctrine-test-bundle/issues/129#issuecomment-864889080_

The current version of dama/doctrine-test-bundle is only supporting DBAL 3.
If I'm understanding it correctly, its possible to safely remove the "implement VersionAwarePlatformDriver" because you are not supporting DBAL 2 anymore?

[2022-11-25 11:35] dmaicher commented on #235
? This is deprecated in DBAL 3 and removed in DBAL 4.

See https://github.com/doctrine/dbal/blob/3.5.x/src/Connection.php#L404

We cannot just remove `implements VersionAwarePlatformDriver`. This would change behavior.

[2022-11-25 11:35] #235 closed

[2022-11-27 21:15] GlucNAc commented on #223
Hi @dmaicher, sorry for not having back to you soon!

Thanks for your fix! Actually, I finally found why I was having this issue. It was because my tests are relying on pk, which are not reset on rollback (obviously). So having an id != 1 when creating an object leads me to thought db was not empty, whereas it wasn't...

So to make my integration tests working OK, I call the following method when